<div class="tabs-container">
  <mat-tab-group animationDuration="0ms" mat-align-tabs="center" (selectedTabChange)="tabChanged($event)">
    <ng-container *ngFor="let tab of tabs">
      <mat-tab label="{{tab.name}}">
        <ng-template mat-tab-label>
          <span matBadge="{{tab.count}}" matBadgeOverlap="false">{{tab.name}}</span>
        </ng-template>
        <app-mat-orders-table [status]="getStatusName(tab.name)" (socketStateChanged)="getStatusCounts(true)"
                              *ngIf="selectedTab === tab.name"></app-mat-orders-table>
      </mat-tab>
    </ng-container>
  </mat-tab-group>
</div>


<ng-container *ngIf="isOperator">
  <div class="chat-window-container">

    <button class="open-button" (click)="openForm()">Chat</button>


    <div class="chat-popup" id="chatPopup">

      <form class="form-container" [formGroup]="chatForm" id="chatForm">
        <!--        <h1>Support</h1>-->
        <b>Users</b>
        <ul>
          <ng-container *ngFor="let user of connectedUsers">
            <li (click)="selectUser(user)" *ngIf="user.username!== 'Operator'" class="username">
              <span [class.selected]="selectedUser && user.username === selectedUser.username">{{user.username}}</span>
            </li>
          </ng-container>
        </ul>


        <b>Support</b>
        <ul class="messages" #messagesList>
          <li *ngFor="let message of messages">
            <strong>{{message.from.replace('_', ' ') + ':'}}</strong>
            <span>{{' ' + message.msg}}</span>
          </li>
        </ul>

        <input formControlName="message" class="message-input">

        <div class="actions">
          <button type="submit" class="send-btn" (click)="sendMessage()">Send</button>
          <button (click)="disconnectAll()">Disconnect all</button>
          <button type="button" class="btn cancel" (click)="closeForm()">Close</button>
        </div>
      </form>
    </div>
  </div>
</ng-container>
