<app-header-top [section]="'Activities'"></app-header-top>
<section class="accommodations">

  <div class="accommodations_main main_content">
    <div class="accommodations_main_left">
      <div class="accommodations_main_left_top_box">
        <p class="Change_Search">Change Search</p>
        <hr>
        <input type="text" name="" value="" placeholder="Location" class="Cork_inp">
        <div class="accommodations_main_left_top_box_inpts">
          <input type="text" name="" value="" placeholder="Date">
          <input type="text" name="" value="" placeholder="Time">
        </div>
        <select class="" name="">
          <option value="">Guests</option>
          <option value=""></option>
        </select>
        <div class="accommodations_main_left_top_box_btn">
          <button type="button" name="button">Search</button>
        </div>
      </div>
      <div class="map_box">
        <div id="map-container-google-1" class="z-depth-1-half map-container map_area">
          <agm-map [latitude]="+activitiesProvider.lat" [longitude]="+activitiesProvider.lng" [zoom]="16"
                   *ngIf="activitiesProvider" style="height:390px;" [fullscreenControl]="true">
            <agm-marker [latitude]="activitiesProvider.lat" [longitude]="activitiesProvider.lng"></agm-marker>
          </agm-map>
        </div>
<!--        <div class="show_on_map">-->
<!--          <button>Show On Map</button>-->
<!--        </div>-->
      </div>
      <div class="guests">
        <h2>What 1332 People Are Saying</h2>
        <div class="bottom_line"></div>
        <h2>Overall ratings and reviews</h2>
        <p>Reviews can only be made by diners who have eaten at this restaurant</p>
        <div class="stars">
          <img src="assets/images/star.svg">
          <img src="assets/images/star.svg">
          <img src="assets/images/star.svg">
          <img src="assets/images/star.svg">
          <img src="assets/images/star.svg">
          <p>5 based on recent ratings</p>
        </div>
        <div class="ratings_line">
          <div class="ratings">
            <p>4.4</p>
            <p>Food</p>
          </div>
          <div class="ratings">
            <p>4.6</p>
            <p>Service</p>
          </div>
          <div class="ratings">
            <p>5</p>
            <p>Ambience</p>
          </div>
          <div class="ratings">
            <p>5</p>
            <p>Value</p>
          </div>
        </div>
        <div>
          <div class="noise_like">
            <img src="assets/images/noisy-megaphone.svg">
            <p>Noise · Moderate</p>
          </div>
          <div class="noise_like">
            <img src="assets/images/like.svg">
            <p>90% of people would recommend it to a friend</p>
          </div>
        </div>
        <h2>What guests loved the most:</h2>
        <div class="bottom_line"></div>
        <ul>
          <li>
            <div class="name_area">
              <div class="usere_image">
                <img src="assets/images/4.png">
              </div>
              <div class="surname">

                <h2>Name Surname</h2>
                <img src="assets/images/united-states-of-america.png">
                <span>“USA</span>
              </div>
            </div>
            <p>“Excellent service and excellent food! Just make your wi-fi connection better :-)</p>


          </li>
          <li>
            <div class="name_area">
              <div class="usere_image">
                <img src="assets/images/d5jA8OZv.png">
              </div>
              <div class="surname">

                <h2>Name Surname</h2>
                <img src="assets/images/italy.png">
                <span>“Italy</span>
              </div>
            </div>
            <p>“The Cottage was big enough and well cleaned
              The Receiption staff were very friendly and cooperative
              The food was perfect with great choices”</p>


          </li>
        </ul>
      </div>
    </div>
    <div class="accommodations_main_right">
      <div class="right_image_home">
        <img src="assets/images/1-10@3x.png">
      </div>
      <div class="content_image_line">
        <div class="photo">
          <img src="assets/images/shutterstock-1446108023.svg">
        </div>
        <div class="photo">
          <img src="assets/images/shutterstock-1446108023.svg">
        </div>
        <div class="photo">
          <img src="assets/images/shutterstock-1446108023.svg">
        </div>
      </div>
      <div class="right_text">
        <div class="second_left_block">
          <div class="text">
            <h2>{{activitiesProvider?.name}}</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu libero in turpis posuere
              blandit. Maecenas non tellus sodales, scelerisque lorem non, cursus dolor. Mauris at ante
              congue nulla dictum facilisis. Integer suscipit quis nibh et lobortis. Ut purus odio,
              consequat
              quis lobortis nec, laoreet ornare elit. Fusce ultricies leo eget est pharetra luctus. Proin
              id
              tristique enim. Maecenas a fringilla quam, quis pellentesque lectus. Nunc ut metus
              convallis,
              aliquet lectus eu, laoreet metus. Vestibulum non sapien vel elit dignissim vehicula ut id
              nisi.
              Suspendisse sit amet ullamcorper lacus, ac tristique ipsum. In non auctor dui, eget
              ullamcorper
              nunc. Cras vulputate, sem at ornare interdum, enim tellus commodo dui, eu tincidunt tortor
              felis
              nec nibh. Pellentesque dignissim nec eros eget mollis. Aliquam quam risus, placerat et dolor
              ac
              , sodales lobortis lorem. Aliquam eget ligula vel leo pharetra bibendum in commodo felis.
              Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In ac
              odio velit. In convallis consequat nisl, sed semper tortor condimentum eu. Morbi auctor
              tempus
              arcu, at volutpat tellus rutrum in. Vivamus luctus vel leo eget convallis. Pellentesque
              habitant
              morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam sit amet dui
              malesuada, tincidunt lectus ut, accumsan erat. Etiam consectetur et velit at malesuada.
              Proin
              vitae fermentum augue. Nulla quis ornare ipsum, nec luctus turpis malesuada, tincidunt
              lectus
              ut, accumsan erat. Etiam consectetur et velit at .
            </p>
          </div>
          <div class="credit_card_box">
            <img src="assets/images/credit-card.svg">
            <span>No credit card needed to book.</span>
            <p> We'll send you an email
              confirming your reservation.</p>

          </div>
          <div class="credit_card_box">
            <img src="assets/images/check.svg">
            <span>Tip: Stay flexible</span>
            <p>Tip: Stay flexible
              Since your dates are a while away, choose free cancellation
              to stay flexible. A change of plans is no problem when you
              have free cancellation!</p>
          </div>

        </div>
        <div class="second_right_block">


          <div class="include_box">
            <h3>Details</h3>
            <div class="company_name">
              <img src="assets/images/logo-temp1.png">
              <h4>{{activitiesProvider?.company?.name}}</h4>
            </div>
            <div class="company_stars">
              <img src="assets/images/star%20(1).svg">
              <img src="assets/images/star%20(1).svg">
              <img src="assets/images/star%20(1).svg">
              <img src="assets/images/star%20(1).svg">
              <img src="assets/images/star%20(1).svg">
              <span>5</span>
              <p> of 5 (275)</p>
            </div>
            <p class="paragraph">Lorem ipsum dolor sit amet</p>
            <div class="price_now">
              <div class="now">
                <p>$199</p>
              </div>
              <button class="bookNow">Book Now</button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
