<header>
    <div class="header_top">
        <div class="header_top_left">
            <div class="header_top_logo">
                <!-- Website logo -->
                <div class="logo" (click)="router.navigate(['/'])"></div>
            </div>

            <!-- Nav bar section links -->
            <app-main-sections [selectedSection]="selectedSection" *ngIf="!responsiveMode"></app-main-sections>

            <!--            <div class="nav_burger">-->
            <!--                <p><i class="fas fa-bars"></i></p>-->
            <!--            </div>-->
        </div>
        <div class="header_top_right">
            <button class="sidebarToggler" (click)="toggleSidebar()" *ngIf="responsiveMode">
                <mat-icon>menu</mat-icon>
            </button>
            <p *ngIf="auth.loggedIn()">
                <i class="far fa-heart" [matTooltip]="'My Favorites'"></i>
                <!--                My Favorites-->
            </p>
            <p class="login" (click)="router.navigate(['auth/login'])" *ngIf="!auth.loggedIn()">Log in</p>


            <p (click)="navigateToDashboard()" class="link"
               *ngIf="(router.url==='/' || router.url==='auth/login') && auth.loggedIn()">Dashboard</p>

            <!-- Logout button -->
            <p (click)="logout()" *ngIf="auth.loggedIn()">
                Logout
            </p>
        </div>
    </div>
    <div class="header_main">
        <div class="header_main_box">
            <div class="location">
                <!--                <i class="fa fa-map-marker-alt"></i>-->
                <mat-icon>place</mat-icon>
                <input type="text" name="" value="" class="ngx" ngx-google-places-autocomplete
                       [options]="countryRestrictredPlaces"
                       #searchAddress="ngx-places" placeholder="Location">
            </div>

            <div class="guests">
                <mat-icon>group</mat-icon>
                <ng-number-picker [(value)]="personsCount" [size]="'small'" class="guestsCount"
                                  [buttonsOrientation]="'v'" [placeholder]="'Guests'"
                                  (valueChange)="personsCountChanged($event)"></ng-number-picker>
            </div>

            <div class="checkIn">
                <input placeholder="Time" name="bookingDate" (dateChange)="dateChanged()" [ngxTimepicker]="timepicker"
                       class="Check_out_inp">
                <ngx-material-timepicker-toggle [for]="timepicker">
                    <!--                <mat-icon>access_time</mat-icon>-->
                    <!--                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px" height="30px" color="white"-->
                    <!--                         ngxMaterialTimepickerToggleIcon>-->
                    <!--                        <path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,16H7.995 C7.445,16,7,15.555,7,15.005v-0.011C7,14.445,7.445,14,7.995,14H14V5.995C14,5.445,14.445,5,14.995,5h0.011 C15.555,5,16,5.445,16,5.995V16z"/>-->
                    <!--                    </svg>-->
                </ngx-material-timepicker-toggle>
                <ngx-material-timepicker #timepicker
                                         [ngxMaterialTimepickerTheme]="timepickerTheme"></ngx-material-timepicker>
                <!--                <mat-datepicker-toggle matSuffix [for]="checkInPicker" class="checkInIcon"></mat-datepicker-toggle>-->
                <!--                <mat-datepicker #checkInPicker startView="year"-->
                <!--                                [startAt]="getStartDate()"></mat-datepicker>-->
            </div>
            <div class="checkOut">
                <input placeholder="Date" name="bookingDate" (dateChange)="dateChanged()"
                       [matDatepicker]="checkOutPicker" class="Check_out_inp">
                <mat-datepicker-toggle matSuffix [for]="checkOutPicker" class="checkInIcon"></mat-datepicker-toggle>
                <mat-datepicker #checkOutPicker startView="year"
                                [startAt]="getStartDate()"></mat-datepicker>
            </div>


            <div class="searchBtn">
                <button type="button" name="button" (click)="searchAccommodations()">Search</button>
            </div>
        </div>
    </div>
    <div class="header_bottom">
        <div class="header_bottom_box">
            <img src="../../../assets/images/icon_1.png" alt="">
            <p>Earn free travel rewards instantly with Secret South</p>
        </div>
        <div class="header_bottom_box">
            <img src="../../../assets/images/icon_1.png" alt="">
            <p>Earn free travel rewards instantly with Secret South</p>
        </div>
        <div class="header_bottom_box">
            <img src="../../../assets/images/icon_1.png" alt="">
            <p>Earn free travel rewards instantly with Secret South</p>
        </div>
    </div>
</header>
