@import 'variables';
@import 'mixins';


.checkIn, .checkOut, .location {
  position: relative !important;

  input {
    background-color: transparent;
    border: 1px solid $white;
    padding-left: 32px !important;

    height: 44px;
    font-size: 16px;
    font-weight: 600;
    color: #fff !important;
    display: block !important;
  }

  .clear-location {
    position: absolute;
    right: 0;
    top: 2px;
    width: 19px;

    mat-icon {
      font-size: 14px;
    }
  }
}

/* header */
header {
  //background-image: url("assets/images/Restaurant_big.jpg");
  background-image: url("assets/images/resort-4471852_1920.jpg");
}

.Check_out_inp {
  width: 180px !important;
}


/* header end*/

.book_a_table {
  text-align: center;
}


@import "media";
