<app-dashboard></app-dashboard>
<div class="mainContent allFerryContent">

    <mat-form-field *ngIf="!dataLoading">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            &lt;!&ndash; Name &ndash;&gt;
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
                <td mat-cell *matCellDef="let row"> {{row.name}}</td>
            </ng-container>

            &lt;!&ndash; Email &ndash;&gt;
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
                <td mat-cell *matCellDef="let row"> {{row.email}}%</td>
            </ng-container>

            &lt;!&ndash; Max People &ndash;&gt;
            <ng-container matColumnDef="max_people">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Max People</th>
                <td mat-cell *matCellDef="let row"> {{row.max_people}}</td>
            </ng-container>

            &lt;!&ndash; Min People &ndash;&gt;
            <ng-container matColumnDef="min_people">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Min People</th>
                <td mat-cell *matCellDef="let row"> {{row.min_people}}</td>
            </ng-container>
            &lt;!&ndash; Phone &ndash;&gt;
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone</th>
                <td mat-cell *matCellDef="let row"> {{row.phone}}</td>
            </ng-container>
            &lt;!&ndash; Address &ndash;&gt;
            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Address</th>
                <td mat-cell *matCellDef="let row"> {{row.address}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>

        <mat-spinner *ngIf="dataLoading" [diameter]="spinnerDiameter"></mat-spinner>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" *ngIf="!dataLoading && dataSource"></mat-paginator>
    </div>

</div>

