@import 'variables';

form {
  display: flex;
  padding: 20px;
  justify-content: space-evenly;

  .actions {
    display: flex;
    width: 300px;
    justify-content: space-around;
  }
}

.table-container {
  width: 80%;
  margin: auto;
}

.min-people-count-hint {
  text-align: right;

  mat-hint {
    color: $red;
    font-size: 12px;
  }

}

.remove-all-container {
  position: absolute;
  bottom: 27px;
  left: 189px;
}

.no-routes-price {
  color: $red;
  text-align: center;
  padding: 20px;;
}


.table-top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .total-values {
    display: flex;
    justify-content: flex-end;

    ul {
      .no-price-routes-count {
        color: $red;
        margin-left: 5px;
      }

      .priced-routes-count {
        color: $green;
        margin-left: 5px;
      }
    }
  }
}
