form {
  display: flex;
  padding: 20px;
  justify-content: space-evenly;

  .actions {
    display: flex;
    width: 300px;
    justify-content: space-around;
  }
}

mat-horizontal-stepper {
  width: 100% !important;
}
