<div class="header_bottom">
  <div class="header_bottom_box">
    <img src="assets/images/icon_1.png" alt="">
    <p>Earn free travel rewards instantly with Secret South</p>
  </div>
  <div class="header_bottom_box">
    <img src="assets/images/icon_1.png" alt="">
    <p>Earn free travel rewards instantly with Secret South</p>
  </div>
  <div class="header_bottom_box">
    <img src="assets/images/icon_1.png" alt="">
    <p>Earn free travel rewards instantly with Secret South</p>
  </div>
</div>
