<div class="allContainer">

  <div class="formContainer">
    <form [formGroup]="loginForm" class="loginForm">
      <h3>{{userType}}</h3>

      <!-- E-mail field-->
      <mat-form-field>
        <input matInput [placeholder]="'E-mail'" [formControlName]="'email'">
        <mat-error [hidden]="!email.hasError('required')">E-mail is <strong>required</strong></mat-error>
        <mat-error [hidden]="!email.hasError('patternInvalid')">E-mail is <strong>invalid</strong></mat-error>
      </mat-form-field>

      <!-- Password field -->
      <mat-form-field>
        <input matInput type="password" [placeholder]="'Password'" [formControlName]="'password'">
        <!--            <ng-container *ngIf="pass.errors && (!pass.pristine||pass.touched)">-->
        <mat-error [hidden]="!pass.hasError('required')">Password is <strong>required</strong></mat-error>
        <!--            </ng-container>-->
      </mat-form-field>

      <!-- Login/ navigate-to-register page buttons -->
      <mat-spinner [diameter]="spinnerDiameter" *ngIf="common.formProcessing"></mat-spinner>
      <div class="actions">
        <button mat-raised-button color="primary" (click)="login()"
                [disabled]="!loginForm.valid || common.formProcessing">
          Sign in
          <mat-icon>arrow_forward</mat-icon>
        </button>
        <!-- Temporarily disabled because of live version issues!!! -->
        <a mat-raised-button [href]="getGoogleAuthUrl()" class="googleLoginBtn">
          <i class="fab fa-google"></i>
          <span>Sign in with Google</span>
        </a>
        <a mat-raised-button [href]="getFbAuthUrl()" class="facebookLoginBtn" [hidden]="true">
          <i class="fab fa-facebook-square"></i>
          <span>Sign in with Facebook</span>
        </a>

      </div>
    </form>
  </div>
</div>
