@import 'variables';
@import 'mixins';

footer {
  background: #E9E9E9 0 0 no-repeat padding-box;
  padding-bottom: 20px;

  .blocks {

    padding-left: 280px;
    margin-top: 187px;
    height: 360px;
    display: flex;
    align-items: center;

    .footer-logo {
      img {
        width: 172px;
      }
    }

    .block {
      margin-left: 84px;
      height: 238px;
      font: normal normal normal 20px Roboto;
      color: #707070;

      li {
        margin-bottom: 16px;
      }

    }

    .contact-details {
      p {
        margin-top: 14px;
      }

      mat-icon {
        font-size: 18px;
      }

      button {
        @include namedBtn;
        width: 200px;
        height: 51px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        font: normal normal bold 16px/15px Roboto;
        margin-top: 20px;
      }
    }
  }

  .copyright-info {
    //width: 274px;
    //height: 14px;
    text-align: center;
    font: normal normal normal 12px/14px Roboto;
    color: #707070;
  }
}

