<footer>
    <div class="footer_top">
        <div class="footer_top_size">
            <p>TAKE ONLY MEMORIES LEAVE ONLY FOOTPRINTS</p>
            <div class="footer_top_size_search">
                <input type="text" name="" value="" placeholder="SUBSCRIBE BY E-MAIL">
                <button type="button" name="button"> ></button>
            </div>
        </div>
    </div>
    <div class="footer_main">
        <div class="footer_main_top">
            <div class="">
                <img class="logo" src="assets/images/logo.png" alt="">
            </div>
            <p>Secret South is a powerful booking platform that lets you choose the direction You want and how to pave
                the best way to Your dream!</p>
        </div>
        <div class="footer_lists">
            <div class="footer_list_box">
                <ul>
                    <li>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <p>Accommodation</p>
                    </li>
                    <li>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <p>Flights</p>
                    </li>
                    <li>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <p>Cars</p>
                    </li>
                    <li>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <p>Cruises</p>
                    </li>
                    <li>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <p>Gallery</p>
                    </li>
                    <li>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <p>About us</p>
                    </li>
                </ul>
            </div>
            <div class="footer_list_box">
                <ul>
                    <li>Countries</li>
                    <li>Regions</li>
                    <li>Cities</li>
                    <li> Hotels</li>
                    <li>Airports</li>

                </ul>
            </div>
            <div class="footer_list_box">
                <ul>
                    <li>About</li>
                    <li>Careers</li>
                    <li>Privacy Policy</li>
                    <li>Term of Service</li>

                </ul>
            </div>
            <div class="footer_list_box">
                <ul>
                    <li><i class="fas fa-home"></i> Your company address</li>
                    <li class="Your_phone_number"><i class="fas fa-phone"></i> Your phone number</li>
                    <li class="Contact_Us">Contact Us</li>

                </ul>
            </div>
        </div>
        <div class="footer_bootom">
            <div class="footer_bootom_size">
                <p>Copyright © 2019 Secret South™. All rights reserved.</p>
                <div class="footer_bootom_size_imgs">
                    <img src="assets/images/soc1.png" alt="">
                    <img src="assets/images/soc2.png" alt="">
                    <img src="assets/images/soc3.png" alt="">
                    <img src="assets/images/soc4.png" alt="">
                    <img src="assets/images/soc5.png" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>
