@import 'variables';
@import 'mixins';

footer {
  background: #E9E9E9 0 0 no-repeat padding-box;
  padding-bottom: 20px;

  .blocks {
    width: 90%;
    margin: 72px auto 0;
    padding: 56px 0 46px;
    display: flex;

    .footer-logo {
      display: flex;
      align-items: center;
      img {
        max-width: 172px;
        min-width: 90px;
        width: 100%;
      }
    }

    .block {
      margin-left: 84px;
      flex: 1;
      font: normal normal normal 20px Roboto;
      color: #707070;

      li {
        margin-bottom: 16px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover{
          color: #82c644;
        }

        a{
          color: #707070;
          text-decoration: none;
          &:hover{
            color: #82c644;
          }
        }
      }

    }

    .contact-details {
      p {
        margin-top: 14px;
      }

      mat-icon {
        font-size: 18px;
        color: #7BC447;
      }

      button {
        @include namedBtn;
        width: 200px;
        height: 51px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        font: normal normal bold 16px/15px Roboto;
        margin-top: 20px;
      }
    }
  }

  .social-links{
    margin-top: 32px;
    display: flex;

    a{
      margin-right: 8px;
      font-size: 21px;
      color: #444444;
    }
  }

  .copyright-info {
    //width: 274px;
    //height: 14px;
    text-align: center;
    font-size: 16px;
    color: #707070;
  }
}

