@import 'variables';
@import 'mixins';


.checkIn, .checkOut, .location {
  position: relative !important;

  input {
    padding-left: 32px !important;
  }
}

/* header */
header {
  background-image: url("assets/images/Aerial-Cork-Harbour.jpg");
}




.Check_out_inp {
  width: 180px !important;
}






/* header end*/

.section {
  text-transform: uppercase;
  font-weight: bold;
}


.header_main_box > div {
  position: relative;

  mat-icon, i {
    position: absolute;
    top: 11px;
    left: 1px;
    color: #fff;
    //font-size: 18px;
  }
}

.book_a_table {
  text-align: center;
}

.sidebarToggler {
  @include noBgBtn;
  cursor: pointer;
}


@import "media";
