<header>
  <app-header-top [section]="'Ferries'"></app-header-top>

  <div class="header_main">
    <div class="header_main_box">

      <div class="location">
        <!--                <i class="fa fa-map-marker-alt"></i>-->
        <mat-icon>place</mat-icon>
        <input type="text" name="" value="" class="ngx" ngx-google-places-autocomplete
               [options]="countryRestrictedPlaces"
               #searchAddress="ngx-places" placeholder="Your location">
      </div>

      <div class="location">
        <!--                <i class="fa fa-map-marker-alt"></i>-->
        <mat-icon>place</mat-icon>
        <input type="text" name="" value="" class="ngx" ngx-google-places-autocomplete
               [options]="countryRestrictedPlaces"
               #searchAddress="ngx-places" placeholder="Direction">
      </div>

      <div class="guests">
        <mat-icon>group</mat-icon>
        <ng-number-picker [(value)]="personsCount" [size]="'small'" class="guestsCount"
                          [buttonsOrientation]="'v'" [placeholder]="'Guests'"
                          (valueChange)="personsCountChanged($event)"></ng-number-picker>
      </div>

      <div class="searchBtn">
        <button type="button" name="button" (click)="searchFerries()">Search</button>
      </div>
    </div>
  </div>
  <app-header-bottom></app-header-bottom>
</header>
