<app-dashboard></app-dashboard>
<div class="mainContent ">
  <form action="" method="post" #adminLog=ngForm autocomplete="off">
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" [formControl]="nameFormControl"
               [errorStateMatcher]="matcher" name="name"   [(ngModel)]="addTours.name">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="nameFormControl.hasError('required')">
          Tours name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Latitude" [formControl]="latFormControl"
               [errorStateMatcher]="matcher" name="firstName"   [(ngModel)]="addTours.lat">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="latFormControl.hasError('required')">
          Lattitude is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Longitude" [formControl]="lngFormControl"
               [errorStateMatcher]="matcher" name="firstName"   [(ngModel)]="addTours.lng">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="lngFormControl.hasError('required')">
          Longitude is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <textarea   matInput placeholder="Address" #addSearch name="address"[(ngModel)]="addTours.address"></textarea>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Tours Type" name="tours_type_id" [formControl]="toursTypeControl" required [(ngModel)]="addTours.tours_type_id">
          <mat-option>Please choose</mat-option>
          <mat-option *ngFor="let single of toursTypeName" [value]="single.id">
            {{single.tour_name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="toursTypeControl.hasError('required')">Please choose an tour type</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Partners" name="tours_type_id" [formControl]="partnersTypeControl" required [(ngModel)]="addTours.partner_id">
          <mat-option>Please choose</mat-option>
          <mat-option *ngFor="let single of partnersTypeName" [value]="single.id">
            {{single.first_name+' '+ single.last_name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="partnersTypeControl.hasError('required')">Please choose an partners</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group example-full-width">
        <button onclick="document.getElementById('fileToUpload').click()" mat-raised-button color="primary">Upload File</button>
        <input id="fileToUpload" type="file" name="img" style="display:none;"  [(ngModel)]="addTours.img" (change)="handleFileInput($event.target.files)">
    </div>
    <button [disabled]="partnersTypeControl.hasError('required') || nameFormControl.hasError('required') || toursTypeControl.hasError('required')" (click)="saveTours(addTours)" mat-raised-button color="primary">Save Tours</button>
  </form>
</div>
