@import "variables";

form { 
  input {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 0 0 6px #00000012;
  }

  .clear-location {
    position: absolute;
    right: 10px;
    top: 5px;
  }


  #address {
    position: relative;
    width: 432px;
    height: 51px;

    mat-icon {
      color: #707070;
      position: absolute;
      top: 16px;
      left: 17px;
      font-size: 22px;
    }

    input {
      padding-left: 52px;
    }
  }

  #dates {
    display: flex;
    margin-top: 16px;

    #date {
      position: relative;
      width: 100%;
      height: 51px;

      .datepicker-toggle-icon {
        position: absolute;
        top: 5px;
        left: 11px;
      }

      input {
        padding-left: 52px;

      }
    }
  }

  #counts {
    display: flex;
    margin-top: 16px;
    

    mat-icon {
      color: #D2D2D2;
    }

    #adults {
      flex: 1;
      margin-right: 16px;
      background-color: $white;
 


      .picker {
        margin-left: 8px;
      }
    }

    #children {
      background-color: $white;
      flex: 1;
      .picker {
        margin-left: 25px;
      }
    }



    #adults, #children {
      display: flex;
      align-items: center;
      box-shadow: 0 0 6px #00000012;
      height: 51px;

      mat-icon {
        margin-left: 19px;
      }

      span {
        margin-left: 10px;
      }
    }

    
  }

  .search {
    width: 432px;
    height: 51px;
    margin-top: 15px;
    border: none;
    background-color: $preferred_blue;
    color: $white;
    font: normal normal 16px 'Roboto';

    span {
      margin-left: 10px;
    }
  }
}



