@import '../../../variables';
@import '../../../mixins';

.saveActivityForm {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  float: left;

  .addressContainer {
    display: flex;

    .mat-form-field {
      width: 100%;
    }

    .resetAddress {
      @include noBgBtn;
      color: $red;
      margin-top: 20px;
    }

  }

  .actions {
    margin-top: 40px;
    .saveBtn{
      float: left;
    }
  }

  .mat-spinner {
    float: right;
  }
}

.dropzoneContainer {
  min-width: 420px;
  width: 25%;
  float: right;
  margin-top: 39px;
  padding: 30px;
  display: flex;
  justify-content: center;
  height: 452px;
  position: relative;

  .removeSavedImg {
    @include noBgBtn;
    color: $red;
    position: absolute;
    top: 50%;
    left: 45%;
  }

  ngx-dropzone {
    align-self: center;
    width: 100%;
  }
}

.savedImg {
  width: 400px;
}

.notFound{
  text-align: center;
  display: block;
  padding: 20px;
}

@media screen and (max-width: 1360px) {
  .saveActivityForm{
    max-width: 370px;
    width: 100%;
    padding: 20px;
    float: left;
    margin-left: 230px;
  }
  .dropzoneContainer {
    min-width: 390px;
  }

}
@media screen and (max-width: 1024px){
  .dropzoneContainer{
    display: none;
  }
}
@media screen and (max-width: 767px){
  .saveActivityForm {
    max-width: 550px;
    float: none;
    margin: auto;
  }
}

