<app-main-dashboard></app-main-dashboard>
<mat-spinner [diameter]="spinnerDiameter" *ngIf="common.dataLoading"></mat-spinner>
<form [formGroup]="saveActivityForm" class="saveActivityForm"
      *ngIf="!common.dataLoading && companies && companies.length > 0 && activityTypes.length > 0">

    <!-- Current form title -->
    <h4 class="formTitle">
        <ng-container *ngIf="!editCase">
            <mat-icon class="title_sign">add_box</mat-icon>
            <span>Add a new activity provider</span>
        </ng-container>
        <ng-container *ngIf="editCase">
            <mat-icon>edit</mat-icon>
            <span>Edit activity provider details</span>
        </ng-container>
    </h4>

    <!-- Name field -->
    <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" required>
        <mat-error *ngIf="nameCtrl.hasError('required')">
            Tour name is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <!-- Latitude field -->
    <mat-form-field>
        <input matInput placeholder="Latitude" formControlName="lat" required>
        <mat-error *ngIf="latCtrl.hasError('required')">
            Latitude is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="latCtrl.hasError('patternInvalid')">
            Latitude is <strong>invalid</strong>
        </mat-error>
    </mat-form-field>

    <!-- Longitude field -->
    <mat-form-field>
        <input matInput placeholder="Longitude" formControlName="lng" required>
        <mat-error *ngIf="lngCtrl.hasError('required')">
            Longitude is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="lngCtrl.hasError('patternInvalid')">
            Longitude is <strong>invalid</strong>
        </mat-error>
    </mat-form-field>

    <!-- Tour address field -->
    <div class="addressContainer">
        <mat-form-field>
            <!--            <textarea matInput formControlName="address" placeholder="Address" #searchAddress required></textarea>-->
            <input matInput class="ngx" ngx-google-places-autocomplete formControlName="address" placeholder="Address"
                   [options]='options' #searchAddress="ngx-places" required/>
            <mat-error *ngIf="addressCtrl.hasError('required')">
                Tour address is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <button (click)="resetAddress()" class="resetAddress">
            <mat-icon>replay</mat-icon>
        </button>
    </div>

    <!-- Activity type field -->
    <mat-form-field>
        <mat-select placeholder="Activity Type" formControlName="activity_type_id" required>
            <mat-option>Please choose</mat-option>
            <mat-option *ngFor="let t of activityTypes" [value]="t['id']">
                {{t['name']}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="saveActivityForm.get('activity_type_id').hasError('required')">
            Activity type is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <!-- Company drop down field for admin-->
    <ng-container *ngIf="auth.checkRoles('admin')">
        <mat-form-field>
            <mat-select formControlName="company_id" placeholder="Company" required>
                <mat-option>Please choose</mat-option>
                <mat-option *ngFor="let c of companies" [value]="c['id']">
                    {{c['name']}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </ng-container>

    <!-- Company name required error -->
    <ng-container *ngIf="!auth.checkRoles('admin')">
        <mat-error [hidden]="!companyCtrl.hasError('required')">Company is <strong>required</strong></mat-error>
    </ng-container>

    <!-- Company hidden field for partners -->
    <ng-container *ngIf="auth.checkRoles('partner')">
        <input type="hidden" formControlName="company_id">
    </ng-container>

    <!-- Image field -->
    <div class="fileContainer" [hidden]="true">
        <input type="file" *ngIf="!editCase" (change)="getFiles($event.target['files'])" required>
        <mat-spinner [diameter]="spinnerDiameter" [hidden]="!common.formProcessing"></mat-spinner>
    </div>

    <!-- Action buttons -->
    <div class="actions">
        <mat-spinner [diameter]="spinnerDiameter" *ngIf="common.formProcessing"></mat-spinner>
        <button type="button" class="backBtn" (click)="router.navigate([redirectUrl])">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-raised-button color="primary" class="saveBtn" [disabled]="saveActivityForm.invalid"
                (click)="saveActivity(searchAddress)">
            Save
        </button>
    </div>
</form>
<div class="dropzoneContainer" *ngIf="!common.dataLoading && companies && companies.length > 0 && activityTypes.length > 0">
    <img *ngIf="activityData && imgPath" [src]="imgPath" class="savedImg" [alt]="activityData.name">
    <button class="removeSavedImg" (click)="removeSavedImg()">Remove</button>
    <dropzone [message]="'Click or drag images here to upload'" (addedFile)="getFile($event)"
              *ngIf="!editCase||(editCase && !imgPath)"></dropzone>
</div>
