@import 'variables';
@import 'mixins';

.formContainer {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;

  .saveActivityForm {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    float: left;

    .addressContainer {
      display: flex;

      .mat-form-field {
        width: 100%;
      }

      .resetAddress {
        @include noBgBtn;
        color: $red;
        margin-top: 20px;
      }

    }

    .actions {
      margin-top: 40px;

      .saveBtn {
        float: left;
      }
    }

    .mat-spinner {
      float: right;
    }
  }

}


.notFound {
  text-align: center;
  display: block;
  padding: 20px;
}

@media screen and (max-width: 1360px) {
  .saveActivityForm {
    max-width: 370px;
    width: 100%;
    padding: 20px;
    float: left;
    margin-left: 230px;
  }
  .dropzoneContainer {
    min-width: 390px;
  }

}

@media screen and (max-width: 1024px) {
  .dropzoneContainer {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .saveActivityForm {
    max-width: 550px;
    float: none;
    margin: auto;
  }
}

