@import 'variables';
@import 'mixins';
@import 'variables';
@import 'mixins';

.page-container {
  display: flex;
  max-width: 1360px;
  width: 100%;
  margin: 100px auto 0;

  .left-side {
    width: 432px;
  }

  .right-side {
    width: 64%;
    padding-left: 32px;
  }
}


.tours {
  width: 1360px;
  margin: 100px auto 0;
  display: flex;
  // overflow: hidden;

  &.tours-page {
    display: block;

    > h1 {
      font-size: 40px;
      color: #414141;
      font-weight: bold;
    }

    .accommodation-inner {
      margin-top: 24px;
      display: flex;
    }
  }

  #left-side {
    width: 432px;
  }

  #right-side {
    width: 100%;

    .sort-price {
      margin-left: 32px;
      margin-bottom: 48px;

      h2 {
        font-size: 16px;
        font-weight: bold;
        color: #414141;
      }

      ul {
        margin: 16px 0 0;

        li {
          border: 1px solid #184F91;
          font-size: 16px;
          border-radius: 5px;
          color: #949494;
          padding: 12px 24px;
          margin-right: 32px;
          transition: all 0.3s ease;
          cursor: pointer;

          &:last-child {
            margin-right: 0;
          }

          &.active, &:hover {
            background: #184F91;
            color: #ffffff;
          }
        }
      }
    }

    ul {
      margin-left: 32px;
      display: flex;
      flex-wrap: wrap;

      .search-item {
        flex: 0 0 calc(50% - 16px);
        height: 450px;
        box-shadow: 0 0 6px #00000029;
        border-radius: 5px;
        margin-right: 32px;
        margin-bottom: 32px;

        &:nth-child(2n + 2) {
          margin-right: 0;
        }

        img {
          width: 100%;
          height: 244px;
          object-fit: cover;
        }

        .name {
          margin-top: 24px;
          margin-left: 39px;
          font: normal normal 20px 'Roboto-Bold';
        }

        .address {
          margin-top: 8px;
          margin-left: 39px;
          font: normal normal 16px 'Roboto-Regular';
        }
      }
    }
  }
}


@import 'variables';
@import 'mixins';



