@import 'variables';
@import 'mixins';


.formContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .saveFoodDrinkForm {
    max-width: 600px;
    width: 100%;
    margin-left: 270px;

    .addressContainer {
      display: flex;

      .mat-form-field {
        width: 100%;
      }

      .resetAddress {
        @include noBgBtn;
        color: $red;
        margin-top: 20px;
      }

    }
  }
}

@media(max-width: 767px) {
  .saveFoodDrinkForm {
    width: 100%;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
  }
}
