<div class="formContainer">

    <form [formGroup]="assignFerryForm" class="assignFerryForm" *ngIf="jobCategory==='ferries'">
        <mat-form-field>
            <input matInput formControlName="full_name">
        </mat-form-field>

        <ng-select [items]="ferriesList" (change)="changeFerry($event)"
                   bindLabel="name" bindValue="id" formControlName="ferry_id" placeholder="Ferry *">
        </ng-select>


        <button mat-raised-button color="primary">Assign</button>
    </form>
</div>
