<app-food-drink-header></app-food-drink-header>
<section class="home_1">
    <div class="home_1_size">
        <div class="home_1_top">
            <p>Don't miss these hotel deals</p>
            <div class="home_1_top_line"></div>
        </div>
        <div class="home_1_block">
            <div class="home_1_box">
                <div class="home_1_box_img">
                    <img src="../../../assets/images/img_1.png" alt="">
                </div>
                <div class="home_1_box_bottom">
                    <p class="home_1_box_tittle">Carrigaline Court Hotel</p>
                    <div class="home_1_box_bottom_price">
                        <p>FROM <span>$25</span></p>
                        <button type="button" name="button">View more</button>
                    </div>
                </div>
            </div>
            <div class="home_1_box">
                <div class="home_1_box_img">
                    <img src="../../../assets/images/img_1.png" alt="">
                </div>
                <div class="home_1_box_bottom">
                    <p class="home_1_box_tittle">Carrigaline Court Hotel</p>
                    <div class="home_1_box_bottom_price">
                        <p>FROM <span>$25</span></p>
                        <button type="button" name="button">View more</button>
                    </div>
                </div>
            </div>
            <div class="home_1_box">
                <div class="home_1_box_img">
                    <img src="../../../assets/images/img_1.png" alt="">
                </div>
                <div class="home_1_box_bottom">
                    <p class="home_1_box_tittle">Carrigaline Court Hotel</p>
                    <div class="home_1_box_bottom_price">
                        <p>FROM <span>$25</span></p>
                        <button type="button" name="button">View more</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="home_1_top">
            <p>Don't miss these hotel deals</p>
            <div class="home_1_top_line"></div>
        </div>
        <div class="home_1_block">
            <div class="home_1_box">
                <div class="home_1_box_img">
                    <div class="home_1_box_img_opacity">
                        <p>SAVE AN EXTRA 15%</p>
                    </div>
                    <img src="../../../assets/images/img_1.png" alt="">

                </div>
                <div class="home_1_box_bottom">
                    <p class="home_1_box_tittle">Carrigaline Court Hotel</p>
                    <div class="home_1_box_bottom_price">
                        <p>FROM <span>$25</span></p>
                        <button type="button" name="button">View more</button>
                    </div>
                </div>
            </div>
            <div class="home_1_box">
                <div class="home_1_box_img">
                    <img src="../../../assets/images/img_1.png" alt="">
                    <div class="home_1_box_img_opacity">
                        <p>SAVE AN EXTRA 15%</p>
                    </div>
                </div>
                <div class="home_1_box_bottom">
                    <p class="home_1_box_tittle">Carrigaline Court Hotel</p>
                    <div class="home_1_box_bottom_price">
                        <p>FROM <span>$25</span></p>
                        <button type="button" name="button">View more</button>
                    </div>
                </div>
            </div>
            <div class="home_1_box">
                <div class="home_1_box_img">
                    <img src="../../../assets/images/img_1.png" alt="">
                    <div class="home_1_box_img_opacity">
                        <p>SAVE AN EXTRA 15%</p>
                    </div>
                </div>
                <div class="home_1_box_bottom">
                    <p class="home_1_box_tittle">Carrigaline Court Hotel</p>
                    <div class="home_1_box_bottom_price">
                        <p>FROM <span>$25</span></p>
                        <button type="button" name="button">View more</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="home_1_hotels">
            <div class="home_1_top">
                <p>lorem</p>
                <div class="home_1_top_line"></div>
            </div>
            <div class="home_1_food">
                <div class="home_1_food_box">
                    <div class="home_1_food_box_img">
                        <img src="../../../assets/images/food1.png" alt="">
                    </div>
                    <p class="home_1_food_box_tittle">Breakfast</p>
                    <p class="home_1_food_box_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus
                        lectus quis lobortis dictum. Integer et diam id </p>
                </div>
                <div class="home_1_food_box">
                    <div class="home_1_food_box_img">
                        <img src="../../../assets/images/food2.png" alt="">
                    </div>
                    <p class="home_1_food_box_tittle">Lunch</p>
                    <p class="home_1_food_box_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus
                        lectus quis lobortis dictum. Integer et diam id </p>
                </div>
                <div class="home_1_food_box">
                    <div class="home_1_food_box_img">
                        <img src="../../../assets/images/food3.png" alt="">
                    </div>
                    <p class="home_1_food_box_tittle">Dinner</p>
                    <p class="home_1_food_box_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus
                        lectus quis lobortis dictum. Integer et diam id </p>
                </div>
            </div>
        </div>
    </div>
</section>
