<section class="home_1">
    <div class="home_1_size">
        <div class="home_1_top">
            <p>Don't miss these deals</p>
            <div class="home_1_top_line"></div>
        </div>

        <app-carousel-holder [items]="foodDrinkObjects" [folder]="foodDrinkFolder"
                             *ngIf="foodDrinkObjects"></app-carousel-holder>

        <div class="home_1_top">
            <p>Today's top deals</p>
            <div class="home_1_top_line"></div>
        </div>

        <app-carousel-holder [items]="foodDrinkObjects" [folder]="foodDrinkFolder"
                             *ngIf="foodDrinkObjects"></app-carousel-holder>
        <div class="home_1_hotels">
            <div class="home_1_top">
                <p>lorem</p>
                <div class="home_1_top_line"></div>
            </div>
            <div class="home_1_food">
                <div class="home_1_food_box">
                    <div class="home_1_food_box_img">
                        <img src="../../../assets/images/food1.png" alt="">
                    </div>
                    <p class="box_title">Breakfast</p>
                    <p class="home_1_food_box_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus
                        lectus quis lobortis dictum. Integer et diam id </p>
                </div>
                <div class="home_1_food_box">
                    <div class="home_1_food_box_img">
                        <img src="../../../assets/images/food2.png" alt="">
                    </div>
                    <p class="box_title">Lunch</p>
                    <p class="home_1_food_box_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus
                        lectus quis lobortis dictum. Integer et diam id </p>
                </div>
                <div class="home_1_food_box">
                    <div class="home_1_food_box_img">
                        <img src="../../../assets/images/food3.png" alt="">
                    </div>
                    <p class="box_title">Dinner</p>
                    <p class="home_1_food_box_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus
                        lectus quis lobortis dictum. Integer et diam id </p>
                </div>
            </div>
        </div>
    </div>
</section>
