@import '../../../../variables';
@import '../../../../mixins';

.profileForm {
  margin-top: 50px;
  max-width: 680px;
  width: 100%;
  float: left;
  /* Register/ save-user-info button */
  .userInfo {
    width: 40%;
    float: left;

    .register {
      @include namedBtn;
      margin: auto;
    }

    .register:disabled {
      background-color: $gray !important;
    }

    .mat-form-field {
      display: block;
    }

    .mat-radio-group {
      margin: 20px 0;
      display: block;
      text-align: center;

      .mat-radio-button {
        margin-left: 10px;
      }
    }


  }

  /* User profile image container */
  .userImg {
    width: 50%;
    float: right;

    .profileImg {
      position: relative;
      width: 400px;
      height: 400px;
      background-size: cover !important;

      i {
        position: absolute;
        right: 2px;
        color: $white;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }

}