@import '../../../variables';
@import '../../../mixins';


.formContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .saveFerryForm {
    max-width: 600px;
    width: 100%;
    margin-left: 270px;

    .addressContainer {
      display: flex;

      .mat-form-field {
        width: 100%;
      }

      .resetAddress {
        @include noBgBtn;
        color: $red;
        margin-top: 20px;
      }

    }

    .actions {
      margin-top: 40px;
    }
  }

}

.notFound {
  text-align: center;
  display: block;
  padding: 20px;
}


@media screen and (max-width: 768px) {
  .saveFerryForm {
    margin: auto !important;
    padding-left: 20px;
    padding-right: 20px;
  }
}


.ferryGallery {
  margin-left: 235px !important;
}

.savedImgContainer {
  height: 450px;
  margin-top: 15px;

  img {
    height: 100%;
    object-fit: cover;
  }
}
