<mat-toolbar>
    <div class="leftGroup" *ngIf="!_router.url.includes('admin')">
        <span (click)="_router.navigate(['admin/login'])">Admin</span>
    </div>
    <div class="centerGroup">
        <button class="homeBtn" *ngIf="_router.url!=='/'" (click)="_router.navigate(['/'])">
            <mat-icon>home</mat-icon>
        </button>
    </div>
    <div class="rightGroup" *ngIf="!_router.url.includes('partner')">
        <span (click)="_router.navigate(['partners/login'])">Partners</span>
    </div>
</mat-toolbar>
<div class="formContainer">
    <form [formGroup]="loginForm" class="loginForm">
        <h3>{{userType}}</h3>

        <!-- E-mail field-->
        <mat-form-field>
            <input matInput [placeholder]="'E-mail'" [formControlName]="'email'">
            <mat-error [hidden]="!email.hasError('required')">E-mail is <strong>required</strong></mat-error>
            <mat-error [hidden]="!email.hasError('patternInvalid')">E-mail is <strong>invalid</strong></mat-error>
        </mat-form-field>

        <!-- Password field -->
        <mat-form-field>
            <input matInput type="password" [placeholder]="'Password'" [formControlName]="'password'">
            <!--            <ng-container *ngIf="pass.errors && (!pass.pristine||pass.touched)">-->
            <mat-error [hidden]="!pass.hasError('required')">Password is <strong>required</strong></mat-error>
            <!--            </ng-container>-->
        </mat-form-field>

        <!-- Login/ navigate-to-register page buttons -->
        <mat-spinner [diameter]="spinnerDiamater" *ngIf="common.formProcessing"></mat-spinner>
        <div class="actions">
            <button mat-raised-button color="primary" (click)="login()" [disabled]="!loginForm.valid">
                Log in
            </button>
        </div>
    </form>
</div>
