<app-navbar></app-navbar>

<div class="formContainer">


    <h2 *ngIf="regTokenExpired">Registration session has been expired</h2>

    <form [formGroup]="registerForm" method="post" enctype="multipart/form-data" class="registerForm"
          *ngIf="!regTokenExpired">

        <!-- Register/ profile form title-->
        <h2 class="terminalTitle">
            <mat-icon>person_add</mat-icon>
            <span translate>Registration</span>
        </h2>

        <!-- User details box -->
        <div class="userInfo">
            <!-- First name field -->
            <mat-form-field>
                <input matInput [placeholder]="'First name'" [formControlName]="'first_name'" required>
                <!--                <mat-hint align="end">{{firstName.value ? firstName.value.length : 0}} /-->
                <!--                    {{fieldsConfig.MAX_FIRST_NAME_LEN}}-->
                <!--                </mat-hint>-->
                <mat-error *ngIf="firstName.hasError('required')">First name is <strong>required</strong></mat-error>
            </mat-form-field>
            <!--                <div *ngIf="firstName.hasError('minlength')||firstName.hasError('maxlength')">-->
            <!--                    {{'first_name_length_error'|translate}}-->
            <!--                </div>-->

            <!-- Last name field -->
            <mat-form-field>
                <input matInput [placeholder]="'Last Name'" [formControlName]="'last_name'" required>
                <!--                <mat-hint align="end">{{lastName.value ? lastName.value.length : 0}}-->
                <!--                    / {{fieldsConfig.MAX_FIRST_NAME_LEN}}-->
                <!--                </mat-hint>-->
                <mat-error *ngIf="lastName.hasError('required')">Last name is <strong>required</strong></mat-error>
            </mat-form-field>
            <!--                <div *ngIf="lastName.hasError('minlength')||lastName.hasError('maxlength')">-->
            <!--                    {{'last_name_length_error'|translate}}-->
            <!--                </div>-->

            <!-- Gender field -->
            <mat-radio-group name="gender" formControlName="gender">
                <mat-radio-button [value]="'male'">Male</mat-radio-button>
                <mat-radio-button [value]="'female'">Female</mat-radio-button>
            </mat-radio-group>

            <!-- E-mail field -->
            <mat-form-field>
                <input matInput [placeholder]="'Email'" formControlName="email" required>
                <mat-error [hidden]="!email.hasError('required')">E-mail is <strong>required</strong></mat-error>
                <mat-error [hidden]="!email.hasError('patternInvalid')">E-mail is <strong>invalid</strong></mat-error>
            </mat-form-field>

            <!-- Password field (shown only in user registration case)-->
            <mat-form-field>
                <input [type]="!passHidden?'password':'text'" matInput [placeholder]="'Password'"
                       formControlName="password" required>
                <mat-slide-toggle class="passToggler" (change)="togglePass()"></mat-slide-toggle>
                <mat-error [hidden]="!pass.hasError('required')">Password is <strong>required</strong></mat-error>
            </mat-form-field>

            <!-- User type field -->
            <mat-form-field>
                <mat-select formControlName="user_type" placeholder="Users group" required>
                    <mat-option>Please choose</mat-option>
                    <mat-option *ngFor="let p of userTypes" [value]="p['role']">
                        {{p['label']}}
                    </mat-option>
                </mat-select>
                <mat-error [hidden]="!userType.hasError('required')">User type is <strong>required</strong></mat-error>
            </mat-form-field>

            <!-- Field type -->
            <mat-form-field>
                <mat-select formControlName="field_type" placeholder="Business" required>
                    <mat-option>Please choose</mat-option>
                    <mat-option *ngFor="let p of partnerTypes" [value]="p['id']">
                        {{p['name']}}
                    </mat-option>
                </mat-select>
                <mat-error [hidden]="!fieldType.hasError('required')">Business type is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-spinner [diameter]="spinnerDiameter" *ngIf="common.formProcessing"></mat-spinner>
            <button type="button" class="backBtn" (click)="router.navigate([redirectUrl])">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <button mat-raised-button color="primary" (click)="register()">
                Save
            </button>
            <!-- [disabled]="registerForm.invalid"-->
        </div>

        <!-- User image or drop zone container-->
        <div class="userImg">
            <!-- Showing drop zone for non-authenticated user and for a user without a profile image -->
            <dropzone [config]="dropzoneConfig" *ngIf="!profileImg" (removedFile)="removeImage()"
                      id="dropzone" class="profileImgDropzone" #dropzone (thumbnail)="onAddedFile($event)"
                      [message]="'Click or drag an image to upload'">
            </dropzone>

            <div class="profileImg" *ngIf="profileImg" [style.background]="profileImg| getImageUrl:'users':true">
                <i class="fa fa-times-circle remove-profile-img" (click)="removeImage()"></i>
            </div>
        </div>
    </form>
</div>
