.allToursContent {
  width: 40%;
  margin: 0 auto;
  display: block;
  float: left;
  margin-right: 3%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table{
  width: 100%!important;
}