<app-accommodations-header [hidden]="routerUrl !== '/accommodations' && routerUrl!=='/'"
                           (toggle)="toggleSidebar()"></app-accommodations-header>
<app-food-drink-header [hidden]="routerUrl !== '/food-drink'" (toggle)="toggleSidebar()"></app-food-drink-header>
<app-ferries-header [hidden]="routerUrl !== '/ferries'" (toggle)="toggleSidebar()"></app-ferries-header>
<app-activities-header [hidden]="routerUrl !== '/activities'" (toggle)="toggleSidebar()"></app-activities-header>
<app-tours-header [hidden]="routerUrl !== '/tours'" (toggle)="toggleSidebar()"></app-tours-header>
