@import '_variables';
@import '_mixins';

.checkIn, .checkOut, .location {
  position: relative !important;
  input {
    padding-left: 32px !important;
  }
}

.Check_out_inp {
  width: 180px !important;
}

.guests {
  mat-icon {
    z-index: 20;
  }
}

.activityTypes {
  width: 370px;
}

/* header */
header {
  background-image: url("assets/images/activities_bg.jpg");
}
header {
  width: 100%;
  min-height: 98vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header_main {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;

    .header_main_box {
      height: 108px;
      opacity: 0.9;
      background-color: #164547;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 16px;

      input {
        width: 300px;
        height: 44px;
        border: solid 1px #ffffff;
        font-size: 16px;
        font-weight: 600;
        background: transparent;
        color: #fff !important
      }

      input::placeholder {
        //padding-left: 27px;
        color: #fff !important
      }

      select {
        width: 288px;
        height: 47px;
        border: solid 1px #ffffff;
        font-size: 16px;
        font-weight: 600;
        background: transparent;
        color: #fff !important;
        padding-left: 25px;

        option {
          background-color: #164547;
          padding: 10px 0
        }
      }

      .searchBtn {
        width: 120px;
        height: 46px;
        border-radius: 4px;
        background-image: linear-gradient(to right, #0b9194, #08c1c6);
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        border: none;
        button {
          width: 120px;
          height: 46px;
          border-radius: 4px;
          background-image: linear-gradient(to right, #0b9194, #08c1c6);
          color: #fff;
          font-size: 20px;
          font-weight: 600;
          border: none;
        }
      }

      .login {
        cursor: pointer;
      }

      > div {
        position: relative;

        mat-icon, i {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          left: 5px;
          color: #fff;
          //font-size: 18px;
        }

      }
    }
  }

}

/* header end*/


@import "media";
