<div id="map">
  <div id="routes-floating-panel" [class.closed]="routesListPanelClosed">
    <div class="default-content-container">

      <!-- No-routes-found message -->
      <div class="no-routes">
        <strong [hidden]="filteredLinesArr.length !==0 || routesListPanelClosed">No routes found</strong>
      </div>

      <!-- Collapse routes list panel -->
      <div class="collapse-button">
        <button mat-icon-button color="accent" (click)="toggleRoutesListPanel()">
          <mat-icon>{{routesListPanelClosed ? 'arrow_forward' : 'arrow_backward'}}</mat-icon>
        </button>
      </div>
    </div>

    <!-- Routes list -->
    <mat-list *ngIf="filteredLinesArr.length > 0">
      <ng-container *ngFor="let line of filteredLinesArr">
        <mat-list-item [class.selectedRoute]="selectedRoute && selectedRoute.name === line.name">
          <i matListIcon class="fa fa-arrow-circle-right route-icon"></i>

          <!-- Route name -->
          <span matLine (click)="selectRoute(line)">{{line.name}}</span>

          <!-- Map coordinates indicator and remove-route-line button -->
          <ng-container *ngIf="line.coordinates.length > 0">
            <mat-icon class="route-coordinates-exist"
                      [matTooltip]="'Has line coordinates on the map'">directions
            </mat-icon>
            <mat-icon (click)="removeRouteLine(line)" class="remove-route"
                      [matTooltip]="'Removes only route line'">
              clear
            </mat-icon>
          </ng-container>
        </mat-list-item>
      </ng-container>

      <!-- Routes list paginator -->
      <div>
        <mat-paginator *ngIf="filteredLinesArr.length > 0 && !routesListPanelClosed" (page)="handle($event)" #paginator
                       [length]="linesArr.length" [pageIndex]="pageIndex"
                       [pageSize]="pageSize" [hidePageSize]="true"
                       [pageSizeOptions]="[2,5,10,25,100]">
        </mat-paginator>
      </div>
    </mat-list>


  </div>

  <!-- Map itself-->
  <agm-map [latitude]="mapCenterCoordinates.lat" [longitude]="mapCenterCoordinates.lng" style="height:600px;"
           [zoom]="10"
           [fullscreenControl]="true"
           [mapTypeControl]="true" (mapClick)="mapClick($event)"
           [rotateControl]="true" (mapReady)="onMapReady($event)" [agmDrawingManager]="drawing"
           [styles]="mapStyles">
    <!--        <agm-marker *ngFor="let single of ferryPositions" [latitude]="single.lat" [longitude]="single.lng"-->
    <!--                    [openInfoWindow]="true" [iconUrl]="getIcon()" (markerClick)="markerClick(infoWindow)">-->
    <!--          <agm-info-window class="infWindow" #infoWindow (infoWindowClose)="closeInfoWindow()">-->

    <!--            <ng-container>-->
    <!--              <div class="infoContainer">-->
    <!--                &lt;!&ndash;                                <div class="image">&ndash;&gt;-->
    <!--                &lt;!&ndash;                                    <img *ngIf="single.img" class="infowindowImg"&ndash;&gt;-->
    <!--                &lt;!&ndash;                                         src="{{host+'uploads/others/ferries/'+single.name+ '/'+single.img}}"&ndash;&gt;-->
    <!--                &lt;!&ndash;                                         alt="">&ndash;&gt;-->
    <!--                &lt;!&ndash;                                    <img *ngIf="!single.img" class="noImage" [src]="'assets/images/no_image.png'">&ndash;&gt;-->
    <!--                &lt;!&ndash;                                </div>&ndash;&gt;-->
    <!--                <div class="info">-->
    <!--                  <h4>{{single.name}}</h4>-->
    <!--                  <ul>-->
    <!--                    <li>-->
    <!--                      <small>Max: {{single.max_people}} people</small>-->
    <!--                    </li>-->
    <!--                    <li>-->
    <!--                      <small>Min: {{single.min_people}} people</small>-->
    <!--                    </li>-->
    <!--                    <li>-->
    <!--                      &lt;!&ndash;                            <small>Tel: {{single.phone}}</small>&ndash;&gt;-->
    <!--                    </li>-->
    <!--                  </ul>-->

    <!--                  <div class="actions">-->
    <!--                    <button mat-raised-button color="primary" (click)="selectFerry(single)">-->
    <!--                      <span>{{selectAction}}</span>-->
    <!--                    </button>-->
    <!--                  </div>-->
    <!--                </div>-->

    <!--              </div>-->
    <!--            </ng-container>-->
    <!--          </agm-info-window>-->
    <!--        </agm-marker>-->

    <agm-marker *ngFor="let location of ferryMapLocations;let ind = index" [latitude]="location.latitude"
                [longitude]="location.longitude"
                [openInfoWindow]="true" [iconUrl]="location.markerIconUrl"
                (markerClick)="selectLocationOnMap(location)">
      <!--          <agm-info-window class="infWindow" #directionInfoWindow (infoWindowClose)="removeLocation(direction)">-->
      <!--            <strong>{{direction.name}}</strong>-->
      <!--          </agm-info-window>-->
    </agm-marker>

    <ng-container *ngIf="linesArr && linesArr.length > 0">
      <agm-polyline #line *ngFor="let line of linesArr" [editable]="false"
                    [strokeColor]="selectedRoute && selectedRoute._id === line._id ? '#8B0000':'#80b446'"
                    [strokeWeight]="1">
        <agm-polyline-point *ngFor="let point of line.coordinates"
                            [latitude]="point.lat"
                            [longitude]="point.lng">
        </agm-polyline-point>


        <agm-icon-sequence *ngIf="!selectedRoute || selectedRoute._id !== line._id" [strokeColor]="'#80b446'"
                           [repeat]="'8px'" [offset]="'0'" [strokeWeight]="1" [scale]="2"
                           [strokeOpacity]="100" [path]="'M 0,-1 0,1'">
        </agm-icon-sequence>
        <!--        <agm-icon-sequence [strokeColor]="selectedRoute && selectedRoute._id === line._id ? 'orange':'blue'"-->
        <!--                           [fillColor]="selectedRoute && selectedRoute._id === line._id ? 'orange':'blue'"-->
        <!--                           [fillOpacity]="100"-->
        <!--                           [repeat]="'100px'"-->
        <!--                           [strokeWeight]="1"-->
        <!--                           [offset]="'100%'" [strokeOpacity]="1" [path]="'M 0,0 1,4 -1,4 0,0 z'">-->
        <!--        </agm-icon-sequence>-->

      </agm-polyline>
    </ng-container>


    <agm-drawing-manager #drawing="agmDrawingManager" (overlayComplete)="overlayComplete($event)"
                         [drawingControlOptions]="drawingControlOptions"
                         [polylineOptions]="polylineOptions"></agm-drawing-manager>
    <!--  &lt;!&ndash;        <agm-polygon [paths]="paths" *ngIf="mapReady" [fillColor]="'transparent'" [strokeColor]="'#8B0000'"&ndash;&gt;-->
    <!--  &lt;!&ndash;                     [strokeWeight]="1.5">&ndash;&gt;-->
    <!--            <agm-polyline>-->
    <!--              <agm-polyline-point *ngFor="let data of paths"-->
    <!--                                  [latitude]="data.lat"-->
    <!--                                  [longitude]="data.lng">-->
    <!--              </agm-polyline-point>-->
    <!--              <agm-icon-sequence [strokeColor]="'#8B0000'" [repeat]="'10px'" [offset]="'0'" [strokeWeight]="1.5" [scale]="2"-->
    <!--                                 [strokeOpacity]="100" [path]="'M 0,-1 0,1'">-->
    <!--              </agm-icon-sequence>-->
    <!--              <agm-icon-sequence [strokeColor]="'#8B0000'" [fillColor]="'#8B0000'" [fillOpacity]="100"  [repeat]="'100px'"  [strokeWeight]="1"-->
    <!--                                 [offset]="'100%'"  [strokeOpacity]="1" [path]="'M 0,0 2,5 -2,5 0,0 z'">-->
    <!--              </agm-icon-sequence>-->

    <!--            </agm-polyline>-->
    <!--        </agm-polygon>-->
  </agm-map>
</div>
