@import 'variables';

#map {
  position: relative;



  #routes-floating-panel {
    position: absolute;
    top: 76px;
    z-index: 3;
    left: 10px;
    background: $white;
    width: 350px;

    .default-content-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    span {
      color: #82c644;
    }

    .remove-route {
      font-size: 18px !important;
      font-weight: bold !important;
      cursor: pointer;
      color: $dark_gray;
    }

    .remove-route:hover {
      color: #8B0000 !important;
    }

    i {
      color: #82c644;
    }

    .no-routes {
      padding-left: 10px;
      color: $red;
    }
  }
}

.selectedRoute {
  color: #82c644;

  .route-icon, span {
    color: #8B0000 !important;
  }


}

.collapse-button {
  text-align: right;
  color: #8B0000 !important;

  button {
    margin-left: -8px !important;
  }
}

.closed {
  width: 38px !important;
  //background: transparent!important;

  mat-list {
    display: none;
  }
}

.route-coordinates-exist {
  color: $green;
}
