@import 'variables';
@import 'mixins';

.page-container {
  display: flex;
  width: 1360px;
  margin: 100px auto 0;

  .left-side {
    width: 432px;
  }

  .right-side {
    width: 64%;
    padding-left: 32px;
  }
}

.info-text{
  margin-top: 32px;
   h1{
     font-size: 24px;
     font-weight: bold;
     color: #414141;
   }
 
   p{
     margin-top: 16px;
     font-style: 16px;
     line-height: 24px;
     color: #707070;
   }
 }