<app-header-top [section]="'Food/Drink'"></app-header-top>
<div class="page-container food-drink-single-page">

  <div class="left-side">
    <app-search-food-drink-form></app-search-food-drink-form>
  </div>
  <div class="right-side">

    <div class="carousel-holder">
                    <ng-container *ngIf="foodDrinkProvider && foodDrinkProvider.images.length !==0 ">
                      <ngx-gallery [options]="galleryOptions" [images]="getImages()" class="single-page-gallery"></ngx-gallery>
                    </ng-container>

<!--      <owl-carousel-o [options]="carouselOptions" *ngIf="foodDrinkProvider">-->
<!--        <ng-container *ngFor="let item of foodDrinkProvider.images" >-->

<!--          <ng-template carouselSlide>-->
<!--            <img src="{{item.big}}" [ngStyle]="setStyles(item.big)">-->
<!--          </ng-template>-->
<!--        </ng-container>-->
<!--      </owl-carousel-o>-->
    </div>

    <img src="assets/images/no_image_slider.jpg" class="no-images"
         *ngIf="foodDrinkProvider && foodDrinkProvider.images.length ===0">

    <div class="map-box">
      <div id="map-container-google-1" class="z-depth-1-half map-container map-area">
        <agm-map [latitude]="+foodDrinkProvider.lat" [longitude]="+foodDrinkProvider.lng" [zoom]="16"
                 *ngIf="foodDrinkProvider" style="height:390px;" [fullscreenControl]="true">
          <agm-marker [latitude]="foodDrinkProvider.lat" [longitude]="foodDrinkProvider.lng"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</div>

