<div class="top">
  <h1>Routes</h1>


  <div class="right">
    <div id="importing-message" *ngIf="fileImporting">
      <mat-spinner [diameter]="15"></mat-spinner>
      <p>Importing</p>
    </div>
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="!fileImporting">
      <span>+ Import routes</span>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openFileDialog('xls')">XLS</button>
      <button mat-menu-item (click)="openFileDialog('json')">JSON</button>
      <input type="file" id="import-file" [hidden]="true" #fileInput
             (change)="fileSelected($event.target?.files[0],fileInput)">
      <app-import-from-file (fileImported)="fileImportFinished($event)"></app-import-from-file>
    </mat-menu>
    <button mat-button id="add-route" (click)="addNewRouteWithoutMap()">
      <span>+ Add route</span>
    </button>
  </div>
</div>

<div class="statistics">
  <div id="routes-with-coordinates">
    <h1 class="number">{{routesOnMap}}</h1>
    <p class="description">Routes with coordinates</p>
  </div>
  <div id="routes-with-no-price">
    <h1 class="number">{{routesWithNoPriceLen}}</h1>
    <p class="description">Routes with no price</p>
  </div>
  <div id="routes-with-assigned-price">
    <h1 class="number">{{routesWithPricesLen}}</h1>
    <p class="description">Routes with assigned price</p>
  </div>
</div>
