<div class="routes-container">

  <div class="add-route-variants">
    <strong>How you want to add the routes?</strong>
    <mat-radio-button [checked]="addMethod === 'map'" (change)="addMethod = 'map'">Add routes on map</mat-radio-button>
    <mat-radio-button (change)="addMethod = 'file'" [checked]="addMethod === 'file'">Import routes from a file
    </mat-radio-button>

    <div class="export-to-json-container">
      <strong>Export routes to json file</strong>
      <mat-checkbox [checked]="true">With prices</mat-checkbox>
      <div class="export-to-json">
        <a mat-raised-button (click)="exportDataToJson()" [href]="downloadJsonHref" download="download.json">
          Export
          <mat-icon>get_app</mat-icon>
        </a>
      </div>
    </div>
  </div>

  <div class="map-container" *ngIf="addMethod === 'map'">
    <app-map-controls></app-map-controls>
  </div>

  <div *ngIf="addMethod === 'file'" class="import-routes-file">
    <dropzone [message]="'Drag & drop  routes file here'" [config]="dropzoneConfig" class="single"
              (addedFile)="onRoutesFileChanged($event)"></dropzone>
    <div>
      <button mat-icon-button (click)="addMethod = 'map'">
        <mat-icon>arrow_backward</mat-icon>
      </button>
    </div>
  </div>

</div>



