<div class="routes-container">

  <div class="add-route-variants">
    <label>How you want to add the routes?</label>
    <mat-radio-button [checked]="addMethod === 'map'" (change)="addMethod = 'map'">Add routes on map</mat-radio-button>
    <mat-radio-button (change)="addMethod = 'file'" [checked]="addMethod === 'file'">Import routes from a file
    </mat-radio-button>

    <div class="export-to-json-container">
      <label>Export routes to json file</label>
      <mat-checkbox [checked]="true">With prices</mat-checkbox>
      <div class="export-to-json">
        <a mat-raised-button (click)="exportDataToJson()" [href]="downloadJsonHref" download="download.json">
          Export
          <mat-icon>get_app</mat-icon>
        </a>
      </div>
    </div>
  </div>

  <div class="map-container" *ngIf="addMethod === 'map'">
    <app-map-controls></app-map-controls>
  </div>

  <div *ngIf="addMethod === 'file'" class="import-routes-file">
    <form>
      <input #routesFileEl type="file" (change)="onRoutesFileChanged($event,'routes')">
      <div class="actions">
        <button (click)="importRoutes()" mat-raised-button color="primary">Import</button>
        <button type="reset" (click)="routesFileEl.value = ''" mat-raised-button>Reset</button>
        <button (click)="addMethod = 'map'" mat-icon-button>
          <mat-icon>arrow_backward</mat-icon>
        </button>
      </div>
    </form>
  </div>

</div>
<!--<button mat-raised-button color="primary" matStepperNext>Next</button>-->



