@import "variables";

mat-radio-button {
  display: block !important;
}

.routes-container {
  display: flex;
  width: 80%;
  margin: auto;

  .add-route-variants {
    width: 20%;

    .export-to-json-container {
      margin-top: 50px;

      .export-to-json {
        text-align: center;
      }
    }
  }

  .map-container, .import-routes-file {
    width: 80%;
  }

  .import-routes-file {
    text-align: center;

    mat-icon {
      color: $red;
    }
  }
}
