.menuItem {
  display: flex;

  span {
    margin-left: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
  }
}


ul {
  width: 100%;
  display: flex;
  list-style-type: none;

  li {
    margin-right: 35px;
    font-size: 18px;

    .section {
      margin: 20px 0;
      font-size: 22px;
      font-family: Roboto, "Helvetica Neue", sans-serif;
    }
  }
}

.linksContainer {
  display: flex;
  ul.sections{
    margin: 0;
  }
}

.sections {
  .section {
    margin: 20px 0;
  }
}

@media screen and (min-width: 1059px) {
  .positioned_sidebar_wrapper {
    display: none;

    &.show {
      display: none;
    }
  }
}

@media screen and (max-width: 1060px) {
  .positioned_sidebar_wrapper {
    position: relative;
    left: 0;
    background-color: #1f7679;
    width: auto;
    height: 100vh;
    top: 0;
    color: white;
    padding: 185px 20px 20px;

    &.show {
      opacity: 1;
      transition: 1200ms;
      visibility: visible;
    }

    .close {
      position: absolute;
      right: 15px;
      top: 30px;

      i {
        color: white;
        cursor: pointer;
      }
    }
  }
}
