<header>
  <div class="header_top">
    <div class="header_top_left">
      <div class="header_top_logo">
        <!-- Website logo -->
        <div class="logo" (click)="router.navigate(['/'])"></div>
      </div>

      <!-- Nav bar section links -->
      <app-main-sections [selectedSection]="selectedSection" *ngIf="!responsiveMode"></app-main-sections>

    </div>
    <div class="header_top_right">
      <button class="sidebarToggler" (click)="toggleSidebar()" *ngIf="responsiveMode">
        <mat-icon>menu</mat-icon>
      </button>
      <p *ngIf="auth.loggedIn()">
        <i class="far fa-heart" [matTooltip]="'My Favorites'"></i>
        <!--                My Favorites-->
      </p>
      <p (click)="router.navigate(['home/contact-us'])">Contact Us</p>
      <p class="login" (click)="router.navigate(['auth/login'])" *ngIf="!auth.loggedIn()">Log in</p>

      <p (click)="navigateToDashboard()" class="link"
         *ngIf="auth.loggedIn()">Dashboard</p>

      <!-- Logout button -->
      <p (click)="auth.logout()" *ngIf="auth.loggedIn()">
        Logout
      </p>
    </div>
  </div>
  <div class="header_main">
    <form [formGroup]="contactForm" class="contactForm">
      <mat-form-field>
        <input matInput aria-label="Company name" formControlName="company_name" placeholder="Company name">
      </mat-form-field>
      <mat-form-field>
        <input matInput aria-label="E-mail" formControlName="email" placeholder="E-mail">
      </mat-form-field>
      <mat-form-field>
        <textarea aria-label="Message" matInput formControlName="message" placeholder="Message"></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary">Send</button>
    </form>

  </div>
  <div class="header_bottom">
  </div>
</header>
