#map{
  height: 500px;
  width: 100%;
  margin-bottom: 50px;
}
.rightGroup{
  overflow: hidden;
  width: 30%;
  margin: 40px auto;
  float: left;
}

@media(max-width: 767px){
  .rightGroup {
    width: 100%;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
  }
}