<app-dashboard></app-dashboard>
<mat-spinner *ngIf="common.dataLoading" [diameter]="spinnerDiameter"></mat-spinner>
<form [formGroup]="saveTourTypeForm" class="tourTypeForm" *ngIf="!common.dataLoading">
    <mat-form-field>
        <input matInput formControlName="tour_name" placeholder="Tour type">
        <mat-error *ngIf="nameCtrl.hasError('required')">
            Tour name is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-spinner *ngIf="common.formProcessing" [diameter]="spinnerDiameter"></mat-spinner>
    <button color="primary" mat-raised-button (click)="saveToursType()">Save</button>
</form>