.tourTypeForm {
  width: 30%;
  margin:30px;
  padding: 20px;
  float: left;
}

@media(max-width: 767px){
  .tourTypeForm {
    width: 100%;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
  }
}
