<app-header-top [section]="'Accommodations'"></app-header-top>
<section class="accommodation">
  <section id="left-side">
    <app-search-accommodation-form (searchClicked)="search($event)"></app-search-accommodation-form>
  </section>
  <section id="right-side">
    <ul>
      <li class="search-item" *ngFor="let obj of accommodationObjects">
        <img *ngIf="obj.img" [src]="getPath(obj, accommodationsFolder)" alt="">
        <div *ngIf="!obj.img" class="no_image"></div>
        <p class="name">{{obj.name}}</p>
        <p class="address">{{obj.address}}</p>
        <button class="view-more" (click)="router.navigate(['accommodations/single/'+obj.id])">View more</button>
      </li>
    </ul>
  </section>
</section>
