<form [formGroup]="locationForm">
  <mat-form-field>
    <input matInput formControlName="name" placeholder="Location name">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="latitude" placeholder="Latitude">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="longitude" placeholder="Longitude">
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button color="accent" (click)="remove()" *ngIf="edit">Remove</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</form>
