.category {
  text-align: center;
  text-transform: uppercase;
}

.description {
  font-size: 12px;
  margin-bottom: 10px;
  display: block;
}

.bookingInfo {
  text-align: center;
}

.bookBtn {
  display: block;
  margin: 0 auto;
}
