@import 'variables';
@import 'mixins';


.header_top {
  width: 100%;
  //max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  color: #fff;
}

.header_top_left {
  display: flex;
  align-items: center;
}

.header_top_logo {
  margin-right: 60px;
}

.header_top_left ul {
  display: flex;
  list-style-type: none;
}

.header_top_left ul li {
  margin-right: 35px;
  font-size: 18px;
}

.header_top_right {
  display: flex;
  align-items: center;

  p {
    display: flex;
    align-items: center;
    margin: 0 10px;
    font-size: 18px;
    cursor: pointer;
  }
}

.sidebarToggler {
  @include noBgBtn;
  cursor: pointer;
}


@import "media";
