<mat-toolbar>
    <div class="leftGroup">

        <button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div class="centerGroup">

    </div>
    <div class="rightGroup">
        <button (click)="logout()" class="logoutBtn" [matTooltip]="'Logout'">
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </div>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav mode="side" #sidenav opened>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <!-- This is the tree node template for leaf nodes -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                <!-- use a disabled button to provide padding for tree leaf -->
                <button mat-icon-button disabled></button>

                <i class="menu-icon fa {{getIcon(node.name)}}"></i>
                <span (click)="navigate(node)" class="node">{{node.name}}</span>
            </mat-tree-node>
            <!-- This is the tree node template for expandable nodes -->
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                <button mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>

                {{node.name}}
            </mat-tree-node>
        </mat-tree>
    </mat-sidenav>
    <mat-sidenav-content>

    </mat-sidenav-content>
</mat-sidenav-container>