@import '../../../variables';
@import '../../../mixins';

.mat-toolbar {
  justify-content: space-between;
  //background-color: #55dadabf;
  background-color: #71a8b1;


  button {
    display: block;
    @include noBgBtn;
  }
}

.mat-sidenav-container {
  height: 100vh;

  .mat-sidenav {
    background-color: #989898;
    color: $white;

    li {
      margin-top: 20px;

      span {
        text-transform: capitalize;
      }
    }
  }
}

.mat-tree {
  background-color: #989898;
  padding: 20px;

  .mat-tree-node {
    color: $white;
    font-weight: bold;
    cursor: pointer;
  }
}

.menu-icon {
  font-size: 14px;
  margin-right: 4px;
}

