<div class="routes-page-container">

  <div id="routes-page-top">
    <app-routes-page-top (newRoute)="addNewRouteWithoutMap($event)" (fileImported)="fileImported($event)"></app-routes-page-top>
  </div>

  <div class="titles-container">
    <h1>Map routes</h1>
    <p>Click on the Map to Choose Route Start / End Points and start drawing the route</p>
  </div>

  <div class="map-routes-container">
    <div class="map-container">
      <app-map-controls [drawingEnabled]="true" (routesListReady)="getRoutes($event)"></app-map-controls>
    </div>
    <div class="routes-list-container">
      <ul>
        <li *ngFor="let route of filteredRoutes" class="route" (click)="selectRoute(route)"
            [class.selected]="route===selectedRoute">
          <span>{{route.start_point}}</span>
          <span *ngIf="route.stop_1">&#8594;{{route.stop_1}}</span>
          <span *ngIf="route.stop_2">&#8594;{{route.stop_2}}</span>
          <span class="end-point">&#8594;{{route.end_point}}</span>
        </li>
      </ul>
      <!-- Routes list paginator -->
      <div>
        <mat-paginator *ngIf="filteredRoutes.length > 0 " (page)="handle($event)"
                       #paginator
                       [length]="routes.length" [pageIndex]="pageIndex"
                       [pageSize]="pageSize" [hidePageSize]="true"
                       [pageSizeOptions]="[2,5,10,25,100]">
        </mat-paginator>
      </div>
    </div>

  </div>
</div>
