<section class="home_1">
    <div class="home_1_size">
        <div class="home_1_top">
            <p>Don't miss these hotel deals</p>
            <div class="home_1_top_line"></div>
        </div>
        <div class="home_1_block">
            <div class="home_1_box">
                <div class="home_1_box_img">
                    <img src="../../../assets/images/img_1.png" alt="">
                </div>
                <div class="home_1_box_bottom">
                    <p class="home_1_box_tittle">Carrigaline Court Hotel</p>
                    <div class="home_1_box_bottom_price">
                        <p>FROM <span>$25</span></p>
                        <button type="button" name="button">View more</button>
                    </div>
                </div>
            </div>
            <div class="home_1_box">
                <div class="home_1_box_img">
                    <img src="../../../assets/images/img_1.png" alt="">
                </div>
                <div class="home_1_box_bottom">
                    <p class="home_1_box_tittle">Carrigaline Court Hotel</p>
                    <div class="home_1_box_bottom_price">
                        <p>FROM <span>$25</span></p>
                        <button type="button" name="button">View more</button>
                    </div>
                </div>
            </div>
            <div class="home_1_box">
                <div class="home_1_box_img">
                    <img src="../../../assets/images/img_1.png" alt="">
                </div>
                <div class="home_1_box_bottom">
                    <p class="home_1_box_tittle">Carrigaline Court Hotel</p>
                    <div class="home_1_box_bottom_price">
                        <p>FROM <span>$25</span></p>
                        <button type="button" name="button">View more</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="home_1_top">
            <p>Today's top deals</p>
            <div class="home_1_top_line"></div>
        </div>
        <div class="home_1_block">
            <div class="home_1_box">
                <div class="home_1_box_img">
                    <div class="home_1_box_img_opacity">
                        <p>SAVE AN EXTRA 15%</p>
                    </div>
                    <img src="../../../assets/images/img_1.png" alt="">

                </div>
                <div class="home_1_box_bottom">
                    <p class="home_1_box_tittle">Carrigaline Court Hotel</p>
                    <div class="home_1_box_bottom_price">
                        <p>FROM <span>$25</span></p>
                        <button type="button" name="button">View more</button>
                    </div>
                </div>
            </div>
            <div class="home_1_box">
                <div class="home_1_box_img">
                    <img src="../../../assets/images/img_1.png" alt="">
                    <div class="home_1_box_img_opacity">
                        <p>SAVE AN EXTRA 15%</p>
                    </div>
                </div>
                <div class="home_1_box_bottom">
                    <p class="home_1_box_tittle">Carrigaline Court Hotel</p>
                    <div class="home_1_box_bottom_price">
                        <p>FROM <span>$25</span></p>
                        <button type="button" name="button">View more</button>
                    </div>
                </div>
            </div>
            <div class="home_1_box">
                <div class="home_1_box_img">
                    <img src="../../../assets/images/img_1.png" alt="">
                    <div class="home_1_box_img_opacity">
                        <p>SAVE AN EXTRA 15%</p>
                    </div>
                </div>
                <div class="home_1_box_bottom">
                    <p class="home_1_box_tittle">Carrigaline Court Hotel</p>
                    <div class="home_1_box_bottom_price">
                        <p>FROM <span>$25</span></p>
                        <button type="button" name="button">View more</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="home_1_hotels">
            <div class="home_1_top">
                <p>Most popular hotels</p>
                <div class="home_1_top_line"></div>
            </div>
            <div class="home_1_hotels_images">

            </div>
        </div>
    </div>
</section>
