<app-accommodations-header [hidden]="routerUrl !== '/accommodations' && routerUrl!=='/'"></app-accommodations-header>
<section class="home_1">
    <div class="home_1_size">
        <div class="home_1_top">
            <p>Don't miss these hotel deals</p>
            <div class="home_1_top_line"></div>
        </div>
        <app-carousel-holder [items]="accommodationObjects" [folder]="accommodationsFolder"
            [category]="'accommodations'"                 *ngIf="accommodationObjects"></app-carousel-holder>

        <div class="home_1_top">
            <p>Today's top deals</p>
            <div class="home_1_top_line"></div>
        </div>

        <app-carousel-holder [items]="accommodationObjects" [folder]="accommodationsFolder"
                             [category]="'accommodations'" *ngIf="accommodationObjects"></app-carousel-holder>

        <div class="home_1_hotels">
            <div class="home_1_top">
                <p>Most popular hotels</p>
                <div class="home_1_top_line"></div>
            </div>
            <div class="home_1_hotels_images">

            </div>
        </div>

        <app-carousel-holder [items]="accommodationObjects" [folder]="accommodationsFolder"
                             [category]="'accommodations'" *ngIf="accommodationObjects"></app-carousel-holder>
    </div>
</section>
