<app-dashboard></app-dashboard>
<mat-spinner *ngIf="dataLoading" [diameter]="spinnerDiameter"></mat-spinner>
<div class="mainContent" *ngIf="!dataLoading">
    <form action="" method="post" #adminLog=ngForm (autocomplete)="off" autocomplete="off">
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="First name" [formControl]="firstNameFormControl"
                       [errorStateMatcher]="matcher" name="firstName" [(ngModel)]="partnerInf.first_name">
                <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="firstNameFormControl.hasError('required')">
                    Partner first name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Last name" [formControl]="lastNameFormControl"
                       [errorStateMatcher]="matcher" name="lastName" [(ngModel)]="partnerInf.last_name">
                <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="lastNameFormControl.hasError('required')">
                    Partner last name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" [formControl]="emailFormControl"
                       [errorStateMatcher]="matcher" name="email" [(ngModel)]="partnerInf.email">
                <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Ferry Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">

            <mat-form-field class="example-full-width" *ngIf="!editCase">
                <input matInput type="password" placeholder="Password" [formControl]="passFormControl"
                       [errorStateMatcher]="matcher" name="pass" [(ngModel)]="partnerInf.pass">
                <mat-hint>Errors appear instantly!</mat-hint>

                <mat-error *ngIf="passFormControl.hasError('minlength') && !passFormControl.hasError('required')">
                    Password must be at least 6 characters long.
                </mat-error>
                <mat-error *ngIf="passFormControl.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <mat-select placeholder="Type" name="searchBy" [formControl]="typeFormControl"
                                [(value)]="partnerInf.type">
                        <mat-option value="1">Ferry</mat-option>
                        <mat-option value="2">Food/Drink</mat-option>
                        <mat-option value="3">Tours</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <mat-spinner *ngIf="formProcessing" [diameter]="spinnerDiameter"></mat-spinner>
        <button [disabled]="passFormControl.hasError('required') || passFormControl.hasError('minlength') || firstNameFormControl.hasError('required') || lastNameFormControl.hasError('required') || (emailFormControl.hasError('email') || emailFormControl.hasError('required'))"
                (click)="savePartner(partnerInf)" mat-raised-button color="primary">Save Partner
        </button>
    </form>

</div>
