<section class="accommodations">

    <div class="accommodations_main main_content">
        <div class="accommodations_main_left">
            <div class="accommodations_main_left_top_box">
                <p class="Change_Search">Change Search</p>
                <hr>
                <input type="text" name="" value="" placeholder="Cork" class="Cork_inp">
                <div class="accommodations_main_left_top_box_inpts">
                    <input type="text" name="" value="" placeholder="Check-in">
                    <input type="text" name="" value="" placeholder="Check-out">
                </div>
                <select class="" name="">
                    <option value="">Guests</option>
                    <option value=""></option>
                </select>
                <div class="accommodations_main_left_top_box_btn">
                    <button type="button" name="button">Search</button>
                </div>
            </div>
            <div class="map_box">
                <div id="map-container-google-1" class="z-depth-1-half map-container map_area">
                    <iframe src="https://maps.google.com/maps?q=cork&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
                            frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>
                <div class="show_on_map">
                    <button>Show On Map</button>
                </div>
            </div>
            <div class="guests">
                <h2>What guests loved the most:</h2>
                <div class="bottom_line"></div>
                <ul>
                    <li>
                        <div class="name_area">
                            <div class="usere_image">
                                <img src="../../../assets/images/4.png">
                            </div>
                            <div class="surname">

                                <h2>Name Surname</h2>
                                <img src="../../../assets/images/united-states-of-america.png">
                                <span>“USA</span>
                            </div>
                        </div>
                        <p>“Excellent service and excellent food! Just make your wi-fi connection better :-)</p>


                    </li>
                    <li>
                        <div class="name_area">
                            <div class="usere_image">
                                <img src="../../../assets/images/d5jA8OZv.png">
                            </div>
                            <div class="surname">

                                <h2>Name Surname</h2>
                                <img src="../../../assets/images/italy.png">
                                <span>“Italy</span>
                            </div>
                        </div>
                        <p>“The Cottage was big enough and well cleaned
                            The Receiption staff were very friendly and cooperative
                            The food was perfect with great choices”</p>


                    </li>

                    <li>
                        <div class="name_area">
                            <div class="usere_image">
                                <img src="../../../assets/images/4.png">
                            </div>
                            <div class="surname">

                                <h2>Name Surname</h2>
                                <img src="../../../assets/images/united-states-of-america.png">
                                <span>“USA</span>
                            </div>
                        </div>
                        <p>“Excellent service and excellent food! Just make your wi-fi connection better :-)</p>


                    </li>
                    <li>
                        <div class="name_area">
                            <div class="usere_image">
                                <img src="../../../assets/images/d5jA8OZv.png">
                            </div>
                            <div class="surname">

                                <h2>Name Surname</h2>
                                <img src="../../../assets/images/italy.png">
                                <span>“Italy</span>
                            </div>
                        </div>
                        <p>“The Cottage was big enough and well cleaned
                            The Receiption staff were very friendly and cooperative
                            The food was perfect with great choices”</p>


                    </li>
                    <li>
                        <div class="name_area">
                            <div class="usere_image">
                                <img src="../../../assets/images/4.png">
                            </div>
                            <div class="surname">

                                <h2>Name Surname</h2>
                                <img src="../../../assets/images/united-states-of-america.png">
                                <span>“USA</span>
                            </div>
                        </div>
                        <p>“Excellent service and excellent food! Just make your wi-fi connection better :-)</p>


                    </li>
                </ul>
            </div>
        </div>
        <div class="accommodations_main_right">
            <div class="right_image_home">
                <img src="../../../assets/images/Montenotte-Aug-2017-1046ENF-.png">
            </div>
            <div class="content_image_line">
                <img src="../../../assets/images/montenotte-rooms-011.png">
                <img src="../../../assets/images/suite-6_1544175479.png">
                <img src="../../../assets/images/dodgerstadiumsuite-dodgersgame.png">
            </div>
            <div class="right_text">
                <div class="second_left_block" *ngIf="accommodation">
                    <div class="text">
                        <h2>{{accommodation.name}}</h2>
                        <p>{{accommodation.description}}</p>
                    </div>
                    <div class="credit_card_box">
                        <img src="../../../assets/images/credit-card.svg">
                        <span>No credit card needed to book.</span>
                        <p> We'll send you an email
                            confirming your reservation.</p>

                    </div>
                    <div class="credit_card_box">
                        <img src="../../../assets/images/check.svg">
                        <span>Tip: Stay flexible</span>
                        <p>Tip: Stay flexible
                            Since your dates are a while away, choose free cancellation
                            to stay flexible. A change of plans is no problem when you
                            have free cancellation!</p>
                    </div>
                </div>
                <div class="second_right_block">
                    <div class="guests_love">
                        <h3>Guests love...</h3>
                        <h4>Perfect for a 1-night stay!</h4>
                        <div class="with_image">
                            <img src="../../../assets/images/Group%201594.png">
                            <p>Top location: Highly rated by</p>
                        </div>
                        <p>recent guests (8.3)</p>
                        <h4>Breakfast info</h4>
                        <p>Continental, Buffet</p>
                        <h4>Breakfast info</h4>
                        <div class="with_image">
                            <img src="../../../assets/images/eye.png">
                            <p>Balcony with view</p>
                        </div>
                        <div class="with_image">
                            <img src="../../../assets/images/007---BBQ.png">
                            <p>Barbecue</p>
                        </div>
                        <div class="with_image">
                            <img src="../../../assets/images/eye.png">
                            <p>Garden / Mountain view</p>
                        </div>
                        <div class="with_image">
                            <img src="../../../assets/images/parking-sign.png">
                            <p>Free private parking available</p>
                        </div>
                        <p>on-site</p>
                        <div class="button_reserve">
                            <button>Reserve</button>
                        </div>
                    </div>

                    <div class="include_box">
                        <h3>Every option includes:</h3>
                        <ul class="option_includes">
                            <li>
                                <img src="../../../assets/images/surface1.png">
                                <p>Garden view</p>
                            </li>
                            <li>
                                <img src="../../../assets/images/mountain-range.svg">
                                <p>Mountain view</p>
                            </li>
                            <li>
                                <img src="../../../assets/images/shower.svg">
                                <p>Ensuite bathroom</p>
                            </li>
                            <li>
                                <img src="../../../assets/images/covered-food-tray-on-a-hand-of-hotel-room-service.svg">
                                <p>Kitchen</p>
                            </li>
                            <li>
                                <img src="../../../assets/images/flatscreen-tv.svg">
                                <p>Flat-screen TV</p>
                            </li>
                            <li>
                                <img src="../../../assets/images/mute.svg">
                                <p> Soundproofing</p>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="reservation">
                <table class="accommodation_table">
                    <tr class="content_table">
                        <th class="type">Accommodation Type</th>
                        <th class="sleeps">Sleeps</th>
                        <th class="price">Today's price</th>
                        <th class="choice">Your choices</th>
                        <th class="select_bungalow">Select a bungalow</th>
                        <th class="credit"></th>
                    </tr>
                    <tr class="cottage">
                        <td class="bedroom_cottage"> Three-Bedroom Cottage</td>
                        <td>
                            <img src="../../../assets/images/user-icon.svg">
                            × 6
                        </td>
                        <td>$999</td>
                        <td>Breakfast &
                            lunch included
                        </td>
                        <td>
                            <select>
                                <option value="">0</option>
                                <option value="">1</option>
                            </select>
                        </td>
                        <td class="reserve">
                            <button>I'll reserve</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="bedrooms">
                                <li>
                                    <span>Bedroom 1:</span> 1 double bed
                                </li>
                                <li>
                                    <span>Bedroom 1:</span> 1 double bed
                                </li>
                                <li>
                                    <span>Bedroom 1:</span> 1 double bed
                                </li>
                            </ul>
                        </td>
                        <td></td>
                        <td></td>
                        <td class="blue_bold">FREE
                            cancellation
                            before 23:59
                            on 7 September
                            2019
                        </td>
                        <td></td>
                        <td>
                            <ul class="confirmation">
                                <li>
                                    Confirmation
                                    is immediate
                                </li>
                                <li>No registration
                                    required
                                </li>
                                <li> No booking
                                    fees!
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="blue_area">
                                <li>160 m² Balcony with view</li>
                                <li>Balcony, Garden</li>
                                <li>Mountain view</li>
                                <li>Flat-screen TV</li>
                                <li>Soundproofing</li>
                                <li>Ensuite bathroom</li>
                                <li>Barbecue Balcony</li>
                            </ul>
                        </td>
                        <td></td>
                        <td></td>
                        <td class="last_chance"> Last chance!
                            There's only 1
                            like it!
                        </td>
                        <td></td>
                        <td class="blue_area">No credit card
                            needed!
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</section>
