@import 'variables';
@import 'mixins';

.page-container {
  display: flex;
  width: 1200px;
  margin: 100px auto;

  .left-side {
    width: 36%;
  }

  .right-side {
    width: 64%;
    padding-left: 32px;
  }
}
