<app-header-top [section]="'Accommodations'"></app-header-top>

<div class="page-container accommodation-single-page">

  <div class="left-side">
    <app-search-accommodation-form></app-search-accommodation-form>
  </div>
  <div class="right-side">

    <div class="carousel-holder">
      <ng-container *ngIf="accommodationProvider && accommodationProvider.images.length !==0 ">
        <ngx-gallery [options]="galleryOptions" [images]="getImages()" class="single-page-gallery"></ngx-gallery>
      </ng-container>

<!--      <owl-carousel-o [options]="carouselOptions" *ngIf="accommodationProvider">-->
<!--        <ng-container *ngFor="let item of accommodationProvider.images">-->

<!--          <ng-template carouselSlide>-->
<!--            <img src="{{item.big}}">-->
<!--          </ng-template>-->
<!--        </ng-container>-->
<!--      </owl-carousel-o>-->
    </div>

    <img src="assets/images/no_image_slider.jpg" class="no-images"
         *ngIf="accommodationProvider && accommodationProvider.images.length ===0">

    <div class="map-box">
      <div id="map-container-google-1" class="z-depth-1-half map-container map-area">
        <agm-map [latitude]="+accommodationProvider.lat" [longitude]="+accommodationProvider.lng" [zoom]="16"
                 *ngIf="accommodationProvider" style="height:390px;" [fullscreenControl]="true">
          <agm-marker [latitude]="accommodationProvider.lat" [longitude]="accommodationProvider.lng"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</div>
