<mat-spinner *ngIf="dataLoading" [diameter]="spinnerDiameter"></mat-spinner>
<form [formGroup]="editFerryForm" class="editFerryForm" *ngIf="!dataLoading && ferryData">
    <mat-form-field>
        <input matInput formControlName="name" placeholder="Name">
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="email" placeholder="E-mail">
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="max_people" type="number" placeholder="Max people">
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="min_people" type="number" placeholder="Min people">
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="lat" type="number" placeholder="Latitude">
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="lng" type="number" placeholder="Longitude">
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="phone" placeholder="Phone">
    </mat-form-field>
    <mat-form-field>
        <textarea matInput formControlName="address" placeholder="Address"></textarea>
    </mat-form-field>

    <mat-form-field>

        <mat-select formControlName="partner_id">
            <mat-option>Please choose</mat-option>
            <mat-option *ngFor="let p of partners" [value]="p.id">
                {{p.first_name+' '+ p.last_name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-spinner *ngIf="formProcessing" [diameter]="spinnerDiameter"></mat-spinner>
    <button type="button" mat-button (click)="this.router.navigate(['admin/AllFerry']);">
        Back
    </button>
    <button mat-raised-button color="primary" (click)="updateFerry()">
        Save
    </button>
</form>

<small *ngIf="!ferryData && !dataLoading" class="notFound">The selected ferry is not found</small>