

<div class="companyForm">

    <!-- Current form title -->
    <app-form-title [item]="'company'" [editCase]="editCase"></app-form-title>

    <form [formGroup]="companyForm">

        <!-- Company name field -->
        <mat-form-field>
            <input matInput placeholder="Company name" formControlName="name" required>
        </mat-form-field>

        <!-- Company type field -->
        <mat-form-field>

            <mat-select placeholder="Type" formControlName="type_id" required>
                <mat-option>Please select</mat-option>
                <mat-option [value]="t['id']" *ngFor="let t of companyTypes">{{t['name']}}</mat-option>
            </mat-select>
        </mat-form-field>

        <button type="button" class="backBtn" (click)="router.navigate([redirectUrl])">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-raised-button color="primary" (click)="saveCompany()">
            Save
        </button>
    </form>
</div>
