@import "variables";

form {
  input {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 0 0 6px #00000012;
  }

  .clear-location {
    position: absolute;
    right: 10px;
    top: 5px;
  }

  #address {
    position: relative;
    width: 432px;
    height: 51px;

    mat-icon {
      position: absolute;
      top: 11px;
      left: 17px;
      color: #D2D2D2;
    }

    input {
      padding-left: 45px;
    }
  }

  #date-time {
    display: flex;

    #time, #date {
      position: relative;
      max-width: 208px;
      width: 100%;
      height: 51px;
      margin-top: 16px;

      input {
        padding-left: 45px;
      }
    }

    #date {
      margin-left: 16px;
    }
  }

  #counts {
    display: flex;
    margin-top: 16px;
    justify-content: space-between;

    mat-icon {
      color: #D2D2D2;
    }

    #adults {
      width: 48%;
      background-color: $white;

      mat-icon {
        margin-left: 19px;
      }

      span {
        margin-left: 4px;
      }

      .picker {
        margin-left: 70px;
      }
    }

    #children {
      width: 48%;
      margin-left: 16px;
      background-color: $white;

      .picker {
        margin-left: 75px;
      }
    }

    #adults, #children {
      display: flex;
      align-items: center;

      box-shadow: 0 0 6px #00000012;
      height: 51px;
    }
  }

  .search {
    width: 432px;
    height: 51px;
    margin-top: 15px;
    border: none;
    background-color: $preferred_blue;
    color: $white;
    font: normal normal 16px 'Roboto';

    span {
      margin-left: 10px;
    }
  }
}
