@import '../variables';
@import '../mixins';


.mat-sidenav-container {
  margin-top: -21px;
  height: 100vh !important;
  position: relative;
}

.mat-sidenav-content {
  height: 100vh !important;
  padding: 20px;
}



