<h3 mat-dialog-title>Edit route details</h3>
<form [formGroup]="changePricesForm">
  <ng-container *ngIf="locations">

    <mat-form-field>

      <mat-select formControlName="start_point" placeholder="Start point">
        <mat-option *ngFor="let location of locations" [value]="location.name">
          {{location.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="end_point" placeholder="End point">
        <mat-option *ngFor="let location of locations" [value]="location.name">
          {{location.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="stop_1" placeholder="1st stop">
        <mat-option *ngFor="let location of locations" [value]="location.name">
          {{location.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="stop_2" placeholder="2nd stop">
        <mat-option *ngFor="let location of locations" [value]="location.name">
          {{location.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field>
      <input matInput formControlName="single" placeholder="Price for single person">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="return" placeholder="Price for two ways route">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="total" placeholder="Total price for minimum 6 people">
    </mat-form-field>

    <div class="actions">

      <button mat-raised-button color="primary" (click)="saveRouteDetails()">
        Save prices
      </button>
    </div>
  </ng-container>
</form>
