<ng-container *ngIf="router.url!=='/' && !router.url.includes('auth') && _auth.loggedIn()">
    <div class="treeContainer">
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" *ngIf="dashboardLinks && _auth.loggedIn()">
            <!-- This is the tree node template for leaf nodes -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                <!-- use a disabled button to provide padding for tree leaf -->
                <button mat-icon-button disabled></button>

                <button class="treeNode">
                    <i class="menu-icon fa {{getIcon(node)}}"></i>
                    <span (click)="navigate(node)" class="node">{{node.name}}</span>
                </button>
            </mat-tree-node>
            <!-- This is the tree node template for expandable nodes -->
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                <button mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>

                <span>{{node.name}}</span>
            </mat-tree-node>
        </mat-tree>

    </div>
</ng-container>


<ng-container *ngIf="router.url==='/'">
    <app-main-sections [mainSections]="mainSections" (toggleSidebarEmit)="toggle.emit()"
                       (changeSectionEmit)="changeSection($event)"></app-main-sections>
</ng-container>


