@import '../../../variables';
@import '../../../mixins';


.mat-tree {
  background-color: #989898;
  padding: 20px;
  min-height: 100vh;
  height: auto;

  .mat-tree-node {
    color: $white;
    font-weight: bold;
    cursor: pointer;
  }

  .treeNode {
    background-color: unset;
    border: unset;
    color: $white;
    cursor: pointer;
    outline: none;

    span {
      margin-left: 8px;
    }
  }
}

.menuItem {
  display: flex;

  span {
    margin-left: 8px;
  }
}


.treeContainer{
  height: auto;
  min-height: 100%;
}





