<div class="chat-window-container">

  <button class="open-button" (click)="openForm()">
    <span [matBadge]="newMessages.length.toString()" [matBadgeHidden]="newMessages.length ===0">Chat</span>
  </button>


  <div class="chat-popup" id="chatPopup">
    <div class="all-container">
      <div class="contacts" *ngIf="isOperator">
        <div class="search-users-container">
          <input>
          <mat-icon>search</mat-icon>
        </div>
        <ul class="users">
          <ng-container *ngFor="let user of connectedUsers">
            <li (click)="selectUser(user)" *ngIf="user.username!== 'Operator'" class="username">
                <span
                  [class.selected-user]="selectedUser && user.username === selectedUser.username">{{user.username}}</span>
            </li>
          </ng-container>
        </ul>
      </div>
      <div class="chat-itself">
        <div class="chat-top" [class.operator-chat]="isOperator">
          <b>{{isOperator ? (selectedUser ? getUsername(selectedUser.username) : '') : 'Support'}}</b>
          <button type="button" class="close-chat-window" (click)="closeForm()">
            <mat-icon *ngIf="!isOperator">clear</mat-icon>
            <mat-icon *ngIf="isOperator">cancel</mat-icon>
          </button>
        </div>

        <form class="form-container" [formGroup]="chatForm" id="chatForm">

          <!--        <h1>Support</h1>-->


          <div class="messages-container">
            <ul class="messages" #messagesList>
              <li *ngFor="let message of messages">
                <strong>{{getUsername(message.from) + ': '}}</strong>
                <span>{{' ' + message.msg}}</span>
              </li>
            </ul>
          </div>

          <input formControlName="message" class="message-input" (keyup)="sendMessage($event)">
        </form>
      </div>

    </div>

  </div>
</div>
