<div class="chat-window-container">

  <button class="open-button" (click)="openForm()" *ngIf="auth.loggedIn()">
    <span [matBadge]="newMessages.length.toString()" [matBadgeHidden]="newMessages.length ===0">Support</span>
  </button>


  <div class="chat-popup" id="chatPopup">
    <div class="all-container">
      <div class="contacts" *ngIf="isOperator">
        <div class="search-users-container">
          <input>
          <mat-icon>search</mat-icon>
        </div>
        <ul class="users">
          <ng-container *ngFor="let user of connectedUsers">
            <li (click)="selectUser(user)" *ngIf="user.username!== 'Operator'" class="username">
                <span
                  [class.selected-user]="selectedUser && user.username === selectedUser.username">{{getUsername(user.username)}}</span>
            </li>
          </ng-container>
        </ul>
      </div>
      <div class="chat-itself">
        <div class="chat-top" [class.operator-chat]="isOperator" (click)="closeForm()">
          <b>{{isOperator ? (selectedUser ? getUsername(selectedUser.username) : '') : 'Support'}}</b>
          <button type="button" class="close-chat-window" (click)="closeForm()">
            <mat-icon *ngIf="!isOperator">clear</mat-icon>
            <mat-icon *ngIf="isOperator">cancel</mat-icon>
          </button>
        </div>

        <form class="form-container" [formGroup]="chatForm" id="chatForm">

          <!--        <h1>Support</h1>-->


          <div class="messages-container">
            <ul class="messages" #messagesList>
              <li *ngFor="let message of messages;let ind = index" [ngClass]="getMsgsClass(message)">
                <div class="msg-container">
                  <div class="avatar">
                    <ng-container *ngIf="authUser.id!==message.from_user_id">
                      <img *ngIf="message.from === 'Operator'" [src]="'assets/images/logo.png'">
                      <div *ngIf="message.from !== 'Operator'" class="temp-customer">
                        <span>C</span>
                      </div>
                    </ng-container>
                  </div>
                  <div class="message">
                    <span>{{message.msg}}</span>
                  </div>
                </div>

                <div class="seen">
                  <div class="seen-avatar" *ngIf="ind === messages.length -1 && seenAvatar">
                    <ng-container *ngIf="message.to_user_id !== authUser.id">
                      <img *ngIf="message.to === 'Operator' && !isOperator" [src]="'assets/images/logo.png'"
                           [matTooltip]="message.seen_at">
                      <div *ngIf="message.to !== 'Operator'" class="temp-customer" [matTooltip]="message.seen_at">
                        <span>C</span>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="typing">
            <small><em *ngIf="typingMsg">{{typingMsg}}</em></small>
          </div>

          <input formControlName="message" class="message-input" (keyup)="sendMessage($event)"
                 (focus)="markAllMsgsAsSeen()">
        </form>
      </div>

    </div>

  </div>
</div>
