<div class="col-12" *ngIf="latlng.length>0">

  <div class="form-group">
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Search By" name="searchBy" [(value)]="searchBy.type" (selectionChange)="changePlace()">
        <mat-option value="1">Ferry</mat-option>
        <mat-option value="2">Food/Drink</mat-option>
        <mat-option value="3">Tours</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <agm-map [latitude]="lat" [longitude]="lng" style="height:600px;" [zoom]="8" [fullscreenControl]="true" [mapTypeControl]="true">
    <agm-marker *ngFor="let single of latlng" [latitude]="single.lat" [longitude]="single.lng">
      <agm-info-window *ngIf="searchBy.type==1 || searchBy.type==0">
        <h4>{{single.name}}</h4>
        <div class="info">
          <p><span>Max:</span><span>{{single.max_people}} people</span></p>
          <p><span>Min:</span><span>{{single.min_people}} people</span></p>
          <p><span>Tel:</span><span>{{single.phone}}</span></p>
        </div>
        <button onclick="" mat-raised-button color="primary">Book</button>
      </agm-info-window>

      <agm-info-window class="infWindow" *ngIf="searchBy.type==2">
        <div class="info">
          <h4>{{single.name}}</h4>
          <img class="infowindowImg" src="{{imgPath+'uploads/food_drink/'+single.img}}" alt="">
          <p><span>Description:</span><span>{{single.description}}</span></p>
          <p><span>Address:</span><span>{{single.address}}</span></p>
          <button onclick="" mat-raised-button color="primary">Book</button>
        </div>
      </agm-info-window>

      <agm-info-window class="infWindow" *ngIf="searchBy.type==3">
        <div class="info">
          <h4>{{single.name}}</h4>
          <img class="infowindowImg" src="{{imgPath+'uploads/tour/'+single.img}}" alt="">
          <p><span>Description:</span><span>{{single.description}}</span></p>
          <p><span>Address:</span><span>{{single.address}}</span></p>
          <button onclick="" mat-raised-button color="primary">Book</button>
        </div>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>

