<mat-toolbar *ngIf="!common.showOverlay">
    <div class="leftGroup">
        <div class="logo" (click)="scrollToTop()"></div>
        <div class="mainSections">
            <ng-container *ngFor="let section of mainSections">
                <input type="radio" [hidden]="true">
                <p (click)="changeSection(section.name)">

                        <mat-icon>{{section.icon}}</mat-icon>
                        <span>{{section.name}}</span>
                </p>
            </ng-container>
        </div>
    </div>
    <div class="centerGroup">
        <button class="homeBtn" *ngIf="router.url!=='/'" (click)="router.navigate(['/'])">
            <mat-icon>home</mat-icon>
        </button>
    </div>
    <div class="rightGroup">
        <span (click)="router.navigate(['admin/login'])" class="link">Admin</span>
        <span (click)="router.navigate(['partners/login'])" class="link">Partners</span>
    </div>
</mat-toolbar>

<!-- Background/gradient overlay with progress bar, shown at startup-->
<div class="bgContainer" *ngIf="common.showOverlay" @Fading>
    <div id="overlay">
        <div id="bigLogo"></div>
        <div id="overlayText">
            <h1>The Secret South</h1>
            <h3>Where the Ancient East ends and The Wild Atlantic way begins lie’s a <br>secret world born of land and
                sea.</h3>
            <mat-progress-bar mode="determinate" [value]="progressVal"></mat-progress-bar>
        </div>
    </div>

</div>


<div class="col-12 mapFormContainer" *ngIf="!common.showOverlay">
    <form [formGroup]="mapForm" *ngIf="partnerTypes" [hidden]="true">
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <mat-select placeholder="Search By" name="searchBy"
                            formControlName="type" (selectionChange)="changePlace()">
                    <mat-option *ngFor="let t of partnerTypes" [value]="t['name']">{{t['name']}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>

    <agm-map [latitude]="lat" [longitude]="lng" style="height:600px;" [zoom]="10" [fullscreenControl]="true"
             [mapTypeId]="'terrain'" *ngIf="latlng && latlng.length>0;else no_map_data"
             [styles]="mapStyles">
        <agm-marker *ngFor="let single of latlng" [latitude]="single.lat" [longitude]="single.lng" [iconUrl]="">
            {{mapForm.value}}
            <agm-info-window *ngIf="mapForm.value.type=='Ferries'">
                <h4>{{single.name}}</h4>
                <div class="info">
                    <p><span>Max:</span><span>{{single.max_people}} people</span></p>
                    <p><span>Min:</span><span>{{single.min_people}} people</span></p>
                    <p><span>Tel:</span><span>{{single.phone}}</span></p>
                </div>
                <button onclick="" mat-raised-button color="primary">Book</button>
            </agm-info-window>

            <agm-info-window class="infWindow" *ngIf="mapForm.value.type=='Food/Drink'">
                <div class="info">
                    <h4>{{single.name}}</h4>
                    <img class="infowindowImg" src="{{imgPath+'uploads/food_drink/'+single.img}}" alt="">
                    <p><span>Description:</span><span>{{single.description}}</span></p>
                    <p><span>Address:</span><span>{{single.address}}</span></p>
                    <button onclick="" mat-raised-button color="primary">Book</button>
                </div>
            </agm-info-window>

            <agm-info-window class="infWindow" *ngIf="mapForm.value.type=='Tours'">
                <div class="info">
                    <h4>{{single.name}}</h4>
                    <img class="infowindowImg" src="{{imgPath+'uploads/tour/'+single.img}}" alt="">
                    <p><span>Description:</span><span>{{single.description}}</span></p>
                    <p><span>Address:</span><span>{{single.address}}</span></p>
                    <button onclick="" mat-raised-button color="primary">Book</button>
                </div>
            </agm-info-window>
        </agm-marker>
    </agm-map>

</div>
<ng-template #no_map_data *ngIf="!common.showOverlay">
    <small *ngIf="!latLng" class="no_data">No map data found. Please define some.</small>
</ng-template>
