@import '../../../variables';
@import '../../../mixins';

.agm-info-window-content {
  max-width: 400px
}

.info {
  width: 50%;
  margin: 0 auto;
  display: block;
  font-size: 17px;
  font-weight: 500;

  img.infowindowImg {
    width: 100%;
  }
}

.mat-toolbar {
  position:absolute;
  background-color: #062845;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-bottom:20px;
  div {
    span {
      color: $white;
      cursor: pointer;
    }
  }
  .homeBtn{
    @include noBgBtn;
  }
}

.mapFormContainer{
  padding-top: 90px;
}