@import '../../../variables';
@import '../../../mixins';

.agm-info-window-content {
  max-width: 400px
}

.info {
  //width: 50%;
  margin: 0 auto;
  display: block;
  font-size: 17px;
  font-weight: 500;

  img.infowindowImg {
    width: 100%;
  }
}


.bgContainer {
  position: absolute;
  background-image: url("../../../assets/images/Aerial-Cork-Harbour.jpg");
  background-color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  //height: 540px;
  //margin-top: -119px;

  #bigLogo {
    background-image: url("../../../assets/images/logo-navy_big.png");
    background-size: cover;
    width: 300px;
    height: 300px;
    margin: auto;
  }

  #overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    background-image: linear-gradient(180deg, rgba(14, 199, 249, 0.8) 0%, rgba(14, 199, 249, 0.4) 100%);
    background-size: cover;

  }

  #overlayText {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: $white;
    text-align: center;

    h1 {
      font-size: 60px;
    }

    .mat-progress-bar {
      margin-top: 115px;
    }
  }

}

.mapFormContainer {
  margin-top: 90px;
}

@media(max-width: 1024px) {
  .mainSections {
    left: 0 !important;
    right: 0;

    p {
      margin: 10px auto !important;
      text-align: center;
      display: inline-grid;

      mat-icon {
        display: inline-flex !important;
        float: none !important;
        margin: auto !important;
      }
    }
  }
}

@media(max-width: 767px) {
  .mapFormContainer {
    margin-top: 30px;
  }
}

@media(max-width: 500px) {
  .mainSections {

    p {
      font-size: 0.7rem;
    }
  }
  .mat-toolbar {
    div {
      span.link {
        margin-left: 20px;
      }
    }

    .logo {
      width: 70px !important;
      height: 70px !important;
    }
  }
}

.header-bg {
  background-color: rgba(1, 1, 1, 0.49);
}


h4.title{
  margin-bottom: 0;
}
.description {
  font-size: 12px;
  margin-bottom: 10px;
  display: block;
}
