<!-- Background/gradient overlay with progress bar, shown at startup-->
<!--<div class="bgContainer" *ngIf="common.showOverlay" @Fading>-->
<!--    <div id="overlay">-->
<!--        <div id="overlayText">-->
<!--            <div id="bigLogo"></div>-->
<!--            <h1>The Secret South</h1>-->
<!--            <h3>Where the Ancient East ends and The Wild Atlantic way begins lie’s a <br>secret world born of land and-->
<!--                sea.</h3>-->
<!--            <mat-progress-bar mode="determinate" [value]="progressVal"></mat-progress-bar>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->


<!--<div class="col-12 mapFormContainer" *ngIf="!common.showOverlay">-->
<!--    <form [formGroup]="mapForm" *ngIf="partnerTypes" [hidden]="true">-->
<!--        <div class="form-group">-->
<!--            <mat-form-field class="example-full-width">-->
<!--                <mat-select placeholder="Search By" name="searchBy"-->
<!--                            formControlName="type" (selectionChange)="changePlace()">-->
<!--                    <mat-option *ngFor="let t of partnerTypes" [value]="t['name']">{{t['name']}}</mat-option>-->
<!--                </mat-select>-->
<!--            </mat-form-field>-->
<!--        </div>-->
<!--    </form>-->


<!--</div>-->
<app-map *ngIf="currentSection==='Map'"></app-map>
