@import 'variables';
@import 'mixins';


header {
  background-image: url("assets/images/christopher-jolly-GqbU78bdJFM-unsplash.jpg");
  background-repeat: no-repeat;

  .order-form-and-texts {
    width: 1200px;
    margin: auto;
    #order-form-container{
      width:432px;
    }
  }
}

@import "media";
