<header>
  <app-header-top [section]="'Accommodations'"></app-header-top>
  <div class="header_main">
    <div class="header_main_box">
      <div class="location">
        <!--                <i class="fa fa-map-marker-alt"></i>-->
        <mat-icon>place</mat-icon>
        <input type="text" name="" value="" class="ngx" ngx-google-places-autocomplete
               [options]="countryRestrictedPlaces"
               #searchAddress="ngx-places" placeholder="Going to">
      </div>
      <div class="checkIn">
        <input placeholder="Check-in" name="bookingDate" (dateChange)="dateChanged()"
               [matDatepicker]="getPicker(checkInPicker)" class="Check_out_inp">
        <mat-datepicker-toggle matSuffix [for]="checkInPicker" class="checkInIcon"></mat-datepicker-toggle>
        <mat-datepicker #checkInPicker startView="year"
                        [startAt]="getStartDate()"></mat-datepicker>
      </div>
      <div class="checkOut">
        <input placeholder="Check-out" name="bookingDate" (dateChange)="dateChanged()"
               [matDatepicker]="getPicker(checkOutPicker)" class="Check_out_inp">
        <mat-datepicker-toggle matSuffix [for]="checkOutPicker" class="checkInIcon"></mat-datepicker-toggle>
        <mat-datepicker #checkOutPicker startView="year"
                        [startAt]="getStartDate()"></mat-datepicker>
      </div>

      <div class="guests">
        <mat-icon>person</mat-icon>
        <ng-number-picker [(value)]="personsCount" [size]="'small'" class="guestsCount"
                          [buttonsOrientation]="'v'"
                          (valueChange)="personsCountChanged($event)"></ng-number-picker>
      </div>

      <div class="searchBtn">
        <button type="button" name="button" (click)="searchAccommodations()">Search</button>
      </div>
    </div>
  </div>
  <app-header-bottom></app-header-bottom>
</header>
