<div class="add-order-popup">
    <h2>Add order for next week</h2>

    <div class="order-info">
        <div class="locations-row">
            <ul>
                <li>Aghada</li>
                <li>Kinsale</li>
                <li>Crosshaven</li>
            </ul>
        </div>

        <div class="counts-row-price">
            <ul>
                <li><p>Adults count</p> <span>03/06</span></li>
                <li><p>Children count</p> <span>06/12</span></li>
            </ul>
        </div>
    </div>

    <div class="form-wrap">
        <form action="">
            <div class="input-wrap">
                <div class="input">
                    <input type="text" placeholder="Start Date">
                </div>
                <div class="input">
                    <input type="text" placeholder="End Date">
                </div>
            </div>
            <div class="input-wrap">
                <div class="input">
                    <input type="text" placeholder="Start time">
                </div>
                <div class="input">
                    <input type="text" placeholder="End time">
                </div>
            </div>
            <div class="input-wrap">
                <div class="input">
                    <input type="text" placeholder="Price">
                </div>
                <div class="input">
                    <input type="text" placeholder="Total count">

                    <div class="input-group-append">
                        <span class="input-group-text">
                            <span>+</span>
                            <span>-</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="input-wrap">
                <div class="input">
                    <input type="text" placeholder="Adult count">
                    
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <span>+</span>
                            <span>-</span>
                        </span>
                    </div>
                </div>
                <div class="input">
                    <input type="text" placeholder="Children count">

                    <div class="input-group-append">
                        <span class="input-group-text">
                            <span>+</span>
                            <span>-</span>
                        </span>
                    </div>
                </div>
            </div>

            <button class="btn">save as a copy</button>
        </form>
    </div>
</div>
