<app-header-top [section]="'Food/Drink'"></app-header-top>
<section class="food-drink">
  <section id="left-side">
    <app-search-food-drink-form (searchClicked)="search($event)"></app-search-food-drink-form>
  </section>
  <section id="right-side">
    <ul>
      <li class="search-item" *ngFor="let obj of foodDrinkObjects">
        <img *ngIf="obj.img" [src]="getPath(obj, foodDrinkFolder)" alt="">
        <div *ngIf="!obj.img" class="no_image"></div>
        <p class="name">{{obj.name}}</p>
        <p class="address">{{obj.address}}</p>
        <button class="view-more" (click)="router.navigate(['accommodations/single/'+obj.id])">View more</button>
      </li>
    </ul>
  </section>
</section>
