<div class="tours-order">
  <h1>Orders</h1>
  <button (click)="openAddDaily()">Add daily tour</button>
  <div class="filter">
    Filter by Date
  </div>

  <div class="tours-wrap">
    <div class="item">
      <div class="date-time">
        <div class="date">
          <span>
              <span class="material-icons">date_range</span>
                   20/08/2020-25/08/2020
           </span>
          <div class="edit">
            <span class="material-icons">edit</span>
            <p>
              <mat-icon>content_copy</mat-icon>
            </p>
          </div>

        </div>

        <div class="time">
                    <span>
                        <span class="material-icons">query_builder</span>
                        12:00 PM
                    </span>
        </div>
      </div>

      <div class="locations-row">
        <ul>
          <li>Aghada</li>
          <li>Kinsale</li>
          <li>Crosshaven</li>
        </ul>
      </div>

      <div class="counts-row-price">
        <ul>
          <li>Adults count <p><span>03/</span>06</p></li>
          <li>Children count <p><span>06/</span>12</p></li>
        </ul>
        <div class="price">€300</div>
      </div>
    </div>
  </div>
</div>
