<mat-spinner [diameter]="spinnerDiameter" *ngIf="common.dataLoading"></mat-spinner>
<form [formGroup]="invitationForm" class="invitationForm">

    <!-- Current form title -->
    <h4 class="formTitle">
        <ng-container>
            <mat-icon class="title_sign">mail</mat-icon>
            <span>Invite a new {{auth.checkRoles('admin') ? 'partner/employee' : 'employee'}} </span>
        </ng-container>
    </h4>


    <!-- First name field -->
    <mat-form-field>
        <input matInput formControlName="first_name" placeholder="First name" required>
        <mat-error *ngIf="firstNameCtrl.hasError('required')">
            First name is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <!-- Last name field -->
    <mat-form-field>
        <input matInput formControlName="last_name" placeholder="Last name" required>
        <mat-error *ngIf="lastNameCtrl.hasError('required')">
            Last name is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <!-- E-mail field -->
    <mat-form-field>
        <input matInput formControlName="email" placeholder="E-mail" required>
        <mat-error [hidden]="!emailCtrl.hasError('required')"> E-mail is <strong>required</strong></mat-error>
        <mat-error [hidden]="!emailCtrl.hasError('patternInvalid')"> E-mail is <strong>invalid</strong></mat-error>
    </mat-form-field>

    <!-- User type field -->
    <mat-form-field>
        <mat-select formControlName="user_type" placeholder="User type" required>
            <mat-option>Please choose</mat-option>
            <mat-option *ngFor="let p of userTypes" [value]="p">
                {{p}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Field type -->
    <mat-form-field>
        <mat-select formControlName="field_type" placeholder="Field" required>
            <mat-option>Please choose</mat-option>
            <mat-option *ngFor="let p of partnerTypes" [value]="p['id']">
                {{p['name']}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-spinner [diameter]="spinnerDiameter" *ngIf="common.formProcessing"></mat-spinner>
    <button type="button" class="backBtn" (click)="router.navigate([redirectUrl])">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="invite()">
        Invite
    </button>
</form>
