.invitationForm {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;

  .genderContainer {
    display: flex !important;
    justify-content: center !important;
    .mat-radio-button{
      margin-left: 10px;
    }
  }



  .input-wrap {
    margin-top: 24px;
  
    .input {
      margin-bottom: 16px;
  
      input , textarea{
        width: 100%;
        background: #f9f9f9;
        padding: 12px 23px;
        font-size: 16px;
        color: #707070;
        border: 0.5px solid transparent;
  
        &:focus {
          border: 0.5px solid #7BC447;
        }
      }
    }
  
    .select {
      padding-right: 12px;
      margin-bottom: 16px;
  
      select {
        width: 100%;
        padding: 12px 16px;
        background: #f9f9f9;
        font-size: 16px;
        color: #707070;
        border: 0.5px solid transparent;
  
        &:focus {
          border: 0.5px solid #7BC447;
        }
      }
    }
  
  }
  .saveBtn{
      float: left;
      background: #7bc447;
      border-radius: 0;
      box-shadow: initial;
      padding: 4px 16px;
      font-size: 16px;
      font-weight: bold;
  }
}
