.invitationForm {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;

  .genderContainer {
    display: flex !important;
    justify-content: center !important;
    .mat-radio-button{
      margin-left: 10px;
    }
  }
}
