@import "./variables";

@mixin noBgBtn {
  display: block;
  float: left;
  background: none;
  border: none;
  outline: none !important;
  cursor: pointer;
  color: #ffffff;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  padding: 0;
  mat-icon {
    margin-top: 3px;
  }
}

@mixin matTable {
  width: 100%;
  td.mat-column-actions {
    width: 82px;
    padding: 0 10px;
    padding-right: 0 !important;
  }
}

@mixin namedBtn {
  background-color: #82c644;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  border: none;
  padding: 5px;
  cursor: pointer;
  outline: none;

}

@mixin formTitle {
  display: flex;
  justify-content: center;
  mat-icon {
    display: block;
    float: left;
    margin-top: 3px;
  }
}