$red: #8B0000;
$yellow: #F0E68C;
$dark_gray: #989898;

$green: #82c644;
$silver: silver;
$gray: #c6ccd4;
$darker_gray: #747474;
$indigo: #3f51b5;
$orange: #ffc107;
$white: #fff;
$silver_border: 1px dotted silver;
$light_gray: #f5f5f5;
$semi_transparent_bg: rgba(1, 1, 1, 0.09);
$black_transparent_bg: rgba(1, 1, 1, 0.5);
$dark_green: #164547;
$aqua: #08C1C6;
