/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './mixins';
@import 'variables';

.mat-spinner {
  text-align: center !important;
  margin: 20px auto;
}

.removeBtn {
  @include noBgBtn;
  color: $red;
}

.editBtn {
  @include noBgBtn;
  color: $yellow;
}

table.mat-table {
  @include matTable;
}
.no_table_items_found{
  color:$silver;
  text-align: center;
}