/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './mixins';
@import 'variables';
// regular style toast
@import '~ngx-toastr/toastr.css';


$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/v4-shims";

// Ng-select styles
@import "~@ng-select/ng-select/themes/material.theme.css";

// Owl Carousel styles
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

.mat-spinner {
  text-align: center !important;
  margin: 20px auto;
}

.removeBtn {
  @include noBgBtn;
  color: $red;
}

.editBtn {
  @include noBgBtn;
  color: $yellow;
}

table.mat-table {
  @include matTable;
}

.formTitle {
  @include formTitle;
}

.terminalTitle {
  color: $dark_gray;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 0 30px;

  span {
    font-size: 24px;
    margin: -3px 10px;
  }

  mat-icon, i {
    background-color: $dark_gray;
    color: $white;
  }
}

.no_table_items_found {
  color: $silver;
  text-align: center;
}

.mat-form-field {
  display: block !important;
}

#toast-container > div {
  opacity: 1;
}

.mat-icon-button, .mat-button, .mat-raised-button {
  outline: none !important;
}

.no_data {
  text-align: center;
  display: block;
  padding: 20px;

  .item {
    text-transform: capitalize;
  }
}

.underConstruction {
  color: $yellow;
  font-weight: bold;
  text-transform: uppercase;
}

mat-label {
  color: #807d7dc9;
}

.phone_error {
  font-size: 75%;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title-sign {
  background-color: $dark_gray;
  color: $white;
}

.formTitle {
  color: $dark_gray;
  text-align: center;
  margin: 20px;

  span {
    margin-left: 10px;
  }
}


/** multiple files drop zone styles */
dropzone.multiple {
  height: 410px !important;
  border: 1px solid #c0c0c042;

  .dz-wrapper {
    height: 100%;
    overflow: hidden !important;

    .dz-message {
      height: 392px !important;
      border: none !important;
    }

    .dz-progress {
      display: none !important;
    }
  }

  .dz-started {
    .dz-message {
      display: none !important;
    }
  }
}


/** one file drop zone styles */
dropzone.single {
  height: 410px !important;

  .dz-wrapper {
    height: 100%;
    overflow: hidden !important;

    .dz-message {
      height: 400px !important;
    }

    .dz-progress {
      display: none;
    }

    .dz-remove {
      @include namedBtn;
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: $red;
      border-radius: 20px;
      transform: translate(-50%, -50%);
      text-decoration: none !important;
      //color: $white;
      z-index: 44444;
    }
  }
}

.dropzoneContainer {
  min-width: 420px;
  width: 25%;
  float: right;
  margin-top: 39px;
  padding: 30px;
  display: flex;
  justify-content: center;
  height: 452px;
  position: relative;

  .savedImg {
    width: 400px;
    cursor: pointer;
  }

  .removeSavedImg {
    @include namedBtn;
    background-color: $red;
    position: absolute;
    top: 50%;
    left: 45%;
    font-weight: bold;
    border-radius: 20px;
    padding: 0 5px;
  }

  .savedImg:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }


  ngx-dropzone {
    align-self: center;
    width: 100%;
  }
}

///////////////////////////////////////////////////////

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.backBtn {
  @include noBgBtn;
  background-color: $silver;
  margin-right: 10px;
  margin-top: 3px;
}

.backBtn:hover {
  //background-color: $yellow;
  background-color: #71a8b1;
}

mat-progress-bar .mat-progress-bar-buffer {
  background: transparent;
}

.mat-progress-bar-fill::after {
  background-color: $white !important;
}

.mat-progress-bar-background {
  display: none !important;
}

/* Scroll bar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.22);
}

.clock-face {
  border: 1px solid #f5f5f51c !important;
}

/* Booking form persons count input */
.personsCount {
  width: 70px;
  margin: auto;

  input {
    border: 1px solid silver !important;
    border-radius: unset;
  }

  .input-group-text {
    border-radius: unset;
    background-color: #673ab7;
    color: $white;
  }
}


.phoneField, .bookingTime, .personsContainer {
  input {
    border: none;
    outline: none;
    border-radius: unset;
    border-bottom: 1px solid silver;
  }

  input:focus {
    box-shadow: none !important;
    border-bottom: 2px solid #673ab7;
  }
}


.table_responsive table td:not(:first-of-type) {
  padding: 0 !important;
}

.mat-raised-button.mat-primary {
  background-color: #2f96b4;
}


.checkIn, .checkOut, .location {
  input {
    padding-left: 32px;
  }
}

.checkInIcon, .checkOutIcon {
  position: absolute !important;
  top: 8px !important;
  left: 3px !important;
  color: #fff !important;
  font-size: 18px !important;;

  button {
    width: 24px !important;
    height: 30px !important;
    line-height: 0 !important;
    border-radius: unset !important;
  }
}

// Ngx Material timepicker
.ngx-material-timepicker-toggle {
  position: absolute !important;
  top: 8px !important;

  svg {
    fill: white !important;
  }
}

.timepicker__header, .clock-face__number span.active {
  background-color: #164547 !important;
}


// Owl carousel
.owl-theme .owl-nav {
  background-color: unset !important;
}


.owl-nav {
  color: #fff;
  margin: 5px;
  padding: 4px 7px;

  //background: #959595;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: none;
}

.owl-prev, .owl-next {
  font-size: 34px !important;
  display: flex;
  background-color: unset !important;

  img {
    width: 20px !important;
  }
}

.owl-prev {
  left: -7px;

}

.owl-next {
  right: 15px;
}

.owl-nav div {
  position: absolute;
  top: 23%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.section {
  cursor: pointer;
}
