/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './mixins';
@import 'variables';

// regular style toast
@import '~ngx-toastr/toastr.css';

.mat-spinner {
  text-align: center !important;
  margin: 20px auto;
}

.removeBtn {
  @include noBgBtn;
  color: $red;
}

.editBtn {
  @include noBgBtn;
  color: $yellow;
}

table.mat-table {
  @include matTable;
}

.no_table_items_found {
  color: $silver;
  text-align: center;
}

.mat-form-field {
  display: block !important;
}

#toast-container > div {
  opacity: 1;
}

.mat-icon-button, .mat-button, .mat-raised-button {
  outline: none !important;
}

.no_data {
  text-align: center;
  display: block;
  padding: 20px;
  .item {
    text-transform: capitalize;
  }
}

.underConstruction {
  color: $yellow;
  font-weight: bold;
  text-transform: uppercase;
}

mat-label{
  color:#807d7dc9;
}
.phone_error{
  font-size:75%;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}