<app-daily-tours-filters (filter)="getDailies($event)" (openDialog)="openAddDaily()"></app-daily-tours-filters>

<div [ngSwitch]="view">
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [weekStartsOn]="1"
    [events]="tours"
    [viewDate]="viewDate"
    [refresh]="refresh"
    (eventClicked)="eventClicked($event.event)"
    (eventTimesChanged)="tourDatesChanged($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="tours"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="eventClicked($event.event)"
    (eventTimesChanged)="tourDatesChanged($event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="tours"
    [refresh]="refresh"
    (eventClicked)="eventClicked( $event.event)"
    (eventTimesChanged)="tourDatesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>
<!--<ng-template #hours></ng-template>-->
