.box {
  border: solid 1px #dcdcdc;
  width: 378px;
  height: unset;


  .no_image {
    background-image: url('../../../../assets/images/no_image_slider.jpg');
    background-position: center center;
    background-size: cover;
    height: 250px;

  }

  .info {
    padding: 20px;

    .name {
      font-size: 24px;
      font-weight: bold;
      color: #00253c;
      margin: 0 0 29px 0;
      font-family: "Roboto";
    }


    .priceTxt {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #0b9194;

      p {
        font-size: 24px;
      }

      span {
        font-size: 34px;
      }

    }

    button {
      width: 144px;
      height: 48px;
      border-radius: 24px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      background-image: linear-gradient(to right, #0b9194, #08c1c6);
      color: #fff;
      font-size: 16px;
      border: none;
    }
  }


}

ul {
  display: flex;
  overflow-x: scroll;

  li:not(:first-of-type) {
    margin-left: 10px;
  }
}

.info .name {
  display: block;
  width: 100%;
  height: 28px;
  overflow: hidden;
  font-size: 22px !important;
}

.actual_image {
  width: 100%;
  height: 250px;
}

.actual_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 1230px) {
  .box {
    width: 300px;
  }
  .box {
    .no_image, .actual_image {

      height: 220px;
    }
  }
  .info {
    padding: 10px !important;
  }
  .box .info .name {
    font-size: 18px !important;
    margin: 0 0 10px 0 !important;
    overflow: hidden;
  }
  .priceTxt p {
    font-size: 18px !important;
  }


  .priceTxt button {
    width: 120px !important;
    height: 40px !important;
  }

  .priceTxt p span {
    font-size: 24px !important;
  }
}
@media screen and (max-width: 400px) {
  .box{
    width: 100vw !important;
  }
  .box button{
    margin-right: 20px;
  }
}
