@import 'variables';

.box {
  border: solid 1px #dcdcdc;
  margin-right: 32px;
  height: unset;
  // box-shadow: 0px 0px 6px #00000029;
  border-radius: 5px;

  .no_image {
    background-image: url('../../../../assets/images/no_image_slider.jpg');
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    height: 250px;
  }

  .info {
    padding: 24px 16px 48px 32px;

    .name {
      font-size: 24px;
      font-weight: bold;
      color: #414141;
      font-family: "Roboto";
      margin-right: 12px;
    }


    .priceTxt {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      p {
        color: #7BC447;
        font-weight: bold;
        font-size: 20px;
      }

      span {
        font-size: 34px;
      }

    }

    .infoTxt{
      margin-top: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span{
        margin-right: 12px;
        color: #414141;
        font-size: 16px;
      }

      p{
        font-size: 16px;
        color: #949494;
      }
    }

    button {
      margin-top: 24px;
      padding: 12px 24px;
      color: #fff;
      font-size: 16px;
      background-color: $preferred_blue;
      border: none;


      //width: 144px;
      //height: 48px;
      //border-radius: 24px;
      //box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      //background-image: linear-gradient(to right, #0b9194, #08c1c6);
      //color: #fff;
      //font-size: 16px;
      //border: none;
    }
  }


}



.reviews{
  margin-top: 16px;
  .stars{
      letter-spacing: 6px;
  }
}

.stars{
  &.st_0{
      i{
          color: #DEDEDE;
      }
  }

  &.st_1{
      i{
          color: #DEDEDE;
          &:nth-child(1){
              color: #ffc357;
          }
      }
  }
  &.st_2{
      i{
          color: #DEDEDE;
          &:nth-child(1),&:nth-child(2){
            color: #ffc357;
          }
      }
  }
  &.st_3{
      i{
          color: #DEDEDE;
          &:nth-child(1),&:nth-child(2),&:nth-child(3){
            color: #ffc357;
          }
      }
  }
  &.st_4{
      i{
          color: #DEDEDE;
          &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4){
            color: #ffc357;
          }
      }
  }
  &.st_5{
      i{
        color: #ffc357;
      }
  }

  i{
      font-size: 18px;
  }
}

 
ul {
  display: flex;
  overflow-x: scroll;

  li:not(:first-of-type) {
    margin-left: 10px;
  }
}

.info .name {
  display: block;
  width: 100%;
  height: 28px;
  overflow: hidden;
  font-size: 20px !important;
}

.actual_image {
  width: 100%;
  height: 250px;
}

.actual_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 1230px) {
  .box {
    width: 300px;
  }
  .box {
    .no_image, .actual_image {

      height: 220px;
    }
  }
  .info {
    padding: 10px !important;
  }
  .box .info .name {
    font-size: 18px !important;
    margin: 0 0 10px 0 !important;
    overflow: hidden;
  }
  .priceTxt p {
    font-size: 18px !important;
  }


  .priceTxt button {
    width: 120px !important;
    height: 40px !important;
  }

  .priceTxt p span {
    font-size: 24px !important;
  }
}

@media screen and (max-width: 400px) {
  .box {
    width: 100vw !important;
  }
  .box button {
    margin-right: 20px;
  }
}
