<ng-container *ngIf="!responsiveMode">

  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let item of items">

      <ng-template carouselSlide>
        <div class="box">
          <div class="box-sale">Sale 15%</div>
                    <img *ngIf="item.img" class="image" [src]="getPath(item, folder)">
<!--          <div *ngIf="item.img" class="image" [style.background-image]="getPath(item, folder)"></div>-->
          <div *ngIf="!item.img" class="no_image"></div>
          <div class="info">
            <div class="priceTxt">
              <span class="name">{{item.name}}</span>
              <p>$25</p>
            </div>

            <div class="infoTxt">
              <span>Ireland, Dublin</span>
              <p>per night</p>
            </div>

            <div class="reviews">
              <div class="stars st_4">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>

            <button type="button" name="button"
                    (click)="router.navigate([category+'/single/'+item.id])">View more
            </button>
          </div>
        </div>
      </ng-template>
    </ng-container>
    <!--    <ng-template carouselSlide>Slide 2</ng-template>-->
    <!--    <ng-template carouselSlide>Slide 3</ng-tem+plate>-->
  </owl-carousel-o>

</ng-container>
<ul *ngIf="responsiveMode">
  <li *ngFor="let item of items">
    <div class="box">
      <div class="actual_image" *ngIf="item.img">
        <img [src]="folder+'/'+item.img">
      </div>
      <div *ngIf="!item.img" class="no_image"></div>
      <div class="info">
        <span class="name">{{item.name}}</span>
        <div class="priceTxt">
          <!--          <p>FROM <span>$25</span></p>-->

          <button type="button" name="button" (click)="router.navigate([category+'/single/'+item.id])">View
            more
          </button>
        </div>
      </div>
    </div>
  </li>
</ul>
