@media screen and (max-width: 1230px) {

  header:not(.timepicker__header) {
    min-height: 98vh;
  }
  .header_top {
    width: 95%;
    max-width: unset;
  }

  .header_top_logo {
    margin-right: 50px;
  }
  .header_top_logo {
    width: 60px
  }
  .logo[_ngcontent-c9] {
    width: 66px;
    height: 66px;
  }
  .header_top_left ul li {
    margin-right: 30px;
    font-size: 17px;
  }

  .header_top_right p {
    margin: 0 10px;
    font-size: 17px;
  }
  .header_main {
    width: 70% !important;
    max-width: unset;
  }
  .header_main_box {
    height: 80px;
    padding: 0 15px
  }
  .header_main_box input {
    width: 100%;
    height: 40px;
    font-size: 16px;
  }
  .header_main_box .location {
    width: 30%;
    margin: 0 0px;
  }
  .header_main_box .checkIn {
    width: 30%;
    margin: 0 5px;
    min-width: 120px !important;
  }
  .Check_out_inp {
    width: 100% !important;
  }
  .checkInIcon {
    top: 0 !important;
    bottom: 0 !important;
    margin: auto;
    font-size: 22px !important;
  }
  .header_main_box .guests {
    width: 30%;
    margin: 0 5px;
    .mat-icon{
      margin-top: 10px!important;
    }
  }
  .header_main_box select {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding-left: 28px;

  }

  //.header_main_box button {
  //  width: 100px;
  //  height: 40px;
  //  font-size: 18px;
  //}
  .header_bottom {
    width: 95%;
    max-width: unset;
    margin: 0 auto 30px auto;
    flex-direction: column;
    align-items: center;
  }
  .header_bottom_box {
    margin: 8px 0
  }
  .header_bottom_box p {
    margin-left: 15px;
    font-size: 16px;
  }
  .home_1 {
    margin: 60px auto 0 auto;
    width: 95%;
  }
  .home_1_top {
    margin-bottom: 20px;
  }
  .home_1_top p {
    font-size: 22px;
    margin-bottom: 7px;
  }
  .home_1_top_line {
    width: 50px;
    height: 2px;
  }
  .home_1_block {
    width: 100%;
    margin-bottom: 50px;
    flex-wrap: wrap;
  }
  .home_1_box {
    width: 32%;
    min-width: 250px;
    margin: 10px 5px
  }
  .home_1_box_img_opacity {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 64px;
  }
  .home_1_box_img_opacity p {
    font-size: 20px;
    margin-left: 10px;

  }

  .home_1_box_bottom {
    padding: 10px;
  }
  .home_1_box_tittle {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 25px 0;
  }

  .home_1_box_bottom_price p {
    font-size: 18px;
  }
  .home_1_box_bottom_price span {
    font-size: 25px;
  }
  .home_1_box_bottom_price button {
    width: 120px;
    height: 40px;
    font-size: 16px;

  }
  .nav_burger {
    display: none;
  }


}

@media screen and (max-width: 860px) {
  .location, .checkIn, .guests, .checkOut, .activityTypes {
    width: 100% !important;
    margin: 0 !important;
  }
  .searchBtn {
    width: 100% !important;
    margin: 0 !important;
  }
  .checkInIcon {
    font-size: 25px !important;
  }

}

@media screen and (max-width: 960px) {

  .location, .checkIn, .checkOut, .activityTypes {
    width: 100% !important;
    margin: 0 !important;
  }
  .guests {
    width: 100% !important;
    margin: 0 !important;
  }
  .checkInIcon {
    top: 0 !important;
    bottom: 0 !important;
    margin: auto;
    font-size: 26px !important;
  }
  .header_top {
    align-items: center;
  }
  .header_top_left ul {
    display: none;
  }
  .nav_burger {
    display: block;
  }
  .nav_burger p {
    font-size: 30px
  }
  .header_top_left {
    width: 50%;
    justify-content: space-between;
  }
  .header_main {
    display: flex;
    justify-content: center;
  }
  .header_main_box {
    height: auto !important;
    width: auto;
    flex-direction: column;
    padding: 15px;
  }
  .header_main_box input {
    width: 100% !important;

  }
  .header_main_box .checkOut input {
    margin: 5px 0
  }
  .header_main_box select {
    width: 200px !important;
    margin: 5px 0
  }
  //.header_main_box button {
  //  width: 100% !important;
  //
  //}
  .searchBtn {
    button {
      width: 100% !important;
    }
  }
  .checkIn {
    button {
      margin-top: -3px;
    }
  }
  .tourTypes {
    width: 100% !important;
  }
  .opacity_bg, .header_bottom {
    display: block !important;
  }
  .sidebarToggler {
    margin-top: -4px;
  }

}

@media screen and (max-width: 550px) {
  .home_1_block {
    justify-content: center;
  }
  .header_top_right p {
    font-size: 14px
  }
  .home_1_box {
    width: 300px
  }
  .logo {
    width: 50px !important;
    height: 50px !important;
  }
}

@media screen and (max-width: 400px) {
  .header_top_left {
    width: 20%;
    justify-content: space-between;
  }
}
