<app-main-dashboard></app-main-dashboard>
<mat-spinner [diameter]="spinnerDiameter" *ngIf="common.dataLoading"></mat-spinner>
<form [formGroup]="saveTourForm" class="saveTourForm" *ngIf="!common.dataLoading && partners.length > 0 && tourTypes.length > 0">

    <!-- Current form title -->
    <h4 class="formTitle">
        <ng-container *ngIf="!editCase">
            <mat-icon class="title_sign">add_box</mat-icon>
            <span>Add a new tour</span>
        </ng-container>
        <ng-container *ngIf="editCase">
            <mat-icon>edit</mat-icon>
            <span>Edit tour details</span>
        </ng-container>
    </h4>

    <!-- Name field -->
    <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" required>
        <mat-error *ngIf="nameCtrl.hasError('required')">
            Tour name is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <!-- Latitude field -->
    <mat-form-field>
        <input matInput placeholder="Latitude" formControlName="lat" required>
        <mat-error *ngIf="latCtrl.hasError('required')">
            Latitude is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="latCtrl.hasError('patternInvalid')">
            Latitude is <strong>invalid</strong>
        </mat-error>
    </mat-form-field>

    <!-- Longitude field -->
    <mat-form-field>
        <input matInput placeholder="Longitude" formControlName="lng" required>
        <mat-error *ngIf="lngCtrl.hasError('required')">
            Longitude is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="lngCtrl.hasError('patternInvalid')">
            Longitude is <strong>invalid</strong>
        </mat-error>
    </mat-form-field>

    <!-- Tour address field -->
    <div class="addressContainer">
        <mat-form-field>
            <!--            <textarea matInput formControlName="address" placeholder="Address" #searchAddress required></textarea>-->
            <input matInput class="ngx" ngx-google-places-autocomplete formControlName="address" placeholder="Address"
                   [options]='options' #searchAddress="ngx-places" required/>
            <mat-error *ngIf="addressCtrl.hasError('required')">
                Tour address is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <button (click)="resetAddress()" class="resetAddress">
            <mat-icon>replay</mat-icon>
        </button>
    </div>

    <!-- Tours type field -->
    <mat-form-field>
        <mat-select placeholder="Tours Type" formControlName="tours_type_id" required>
            <mat-option>Please choose</mat-option>
            <mat-option *ngFor="let t of tourTypes" [value]="t['id']">
                {{t['tour_name']}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="saveTourForm.get('tours_type_id').hasError('required')">
            Tour type is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <!-- Partner field -->
    <mat-form-field>
        <mat-select placeholder="Partners" formControlName="partner_id" required>
            <mat-option>Please choose</mat-option>
            <mat-option *ngFor="let p of partners" [value]="p['id']">
                {{p['first_name'] + ' ' + p['last_name']}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="saveTourForm.get('partner_id').hasError('required')">
            Partner is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <!-- Image field -->
    <div class="fileContainer" [hidden]="true">
        <input type="file" *ngIf="!editCase" (change)="getFiles($event.target['files'])" required>
        <mat-spinner [diameter]="spinnerDiameter" [hidden]="!common.formProcessing"></mat-spinner>
    </div>

    <!-- Action buttons -->
    <div class="actions">
        <mat-spinner [diameter]="spinnerDiameter" *ngIf="common.formProcessing"></mat-spinner>
        <button type="button" class="backBtn" (click)="router.navigate([redirectUrl])">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-raised-button color="primary" class="saveBtn" (click)="saveTour(searchAddress)">
            Save Tour
        </button>
    </div>
</form>
<div class="dropzoneContainer" *ngIf="!common.dataLoading && partners.length > 0 && tourTypes.length > 0">
    <img *ngIf="tourData && imgPath" [src]="imgPath" class="savedImg" [alt]="tourData.name">
    <button class="removeSavedImg" (click)="removeSavedImg()">Remove</button>
    <dropzone [message]="'Click or drag images here to upload'" (addedFile)="getFile($event)"
              *ngIf="!editCase||(editCase && !imgPath)"></dropzone>
</div>