@import "variables";
@import "mixins";

.routes-page-container {
  margin-right: 23px;
  margin-left: 24px;
  max-width: 1610px;
  width: 100%;

  button {
    height: 51px;
    padding: 16px 24px;
    background: #7BC447;
    color: $white;
    font: normal normal bold 16px/15px Roboto;
    text-transform: uppercase;
    border-radius: 0;
    border: none;

    span {
      width: 109px;
    }
  }


  .top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 33px;

    h1 {
      font-size: 32px;
      font-family: "Roboto-Bold";
      color: #414141;
    }


    #add-route {
      margin-left: 24px;
    }
  }

  .statistics {
    display: flex;

    > div {
      width: 246px;
      box-shadow: 0 0 6px #00000012;
      margin-right: 24px;
      padding-left: 24px;

      h1 {
        color: #7BC447;
        font-family: 'Roboto-Bold';
        font-size: 32px;
      }

      p {
        font-size: 16px;
        font-family: 'Roboto';
      }
    }
  }



  .table-container {
    width: 100%;
    position: relative;
    margin: 24px 0 0;
  }
}
