<div class="routes-page-container">

  <div class="top">
    <h1>Routes</h1>

    <div class="right">
      <button mat-button [matMenuTriggerFor]="menu">
        <span>+ Import routes</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>XLS</button>
        <button mat-menu-item>JSON</button>
      </mat-menu>
      <button mat-button id="add-route" (click)="addNewRouteWithoutMap()">
        <span>+ Add route</span>
      </button>
    </div>
  </div>

  <div class="statistics">
    <div id="routes-with-coordinates">
      <h1 class="number">70</h1>
      <p class="description">Routes with coordinates</p>
    </div>
    <div id="routes-with-no-price">
      <h1 class="number">0</h1>
      <p class="description">Routes with no price</p>
    </div>
    <div id="routes-with-assigned-price">
      <h1 class="number">70</h1>
      <p class="description">Routes with assigned price</p>
    </div>
  </div>



  <div class="table-container">
    <app-routes-prices-table></app-routes-prices-table>
  </div>
</div>
