@import '../../../variables';
@import '../../../mixins';

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 200;
  background-color: #164547;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  height: 100px;
  overflow: hidden;

  .mainSections {
    position: absolute;
    top: 28px;
    display: inline-flex;
    left: 144px;
    margin: auto;
    justify-content: center;
    max-width: 750px;

    p {
      margin: 10px 25px;
      color: $white;
      cursor: pointer;

      mat-icon {
        display: block;
        float: left;
      }

      span {
        margin-left: 5px;
      }
    }

    .section {
      text-transform: uppercase;
      font-size: 18px;
    }
  }

  div {
    span.link {
      color: $white;
      cursor: pointer;
      margin: 0 40px;
    }

    .authLink {
      margin-top: 3px !important;
    }
  }

  .leftGroup {
    display: flex;
    align-items: center;


    .logo {
      background-image: url("../../../assets/images/logo.png");
      width: 89px;
      height: 91px;
      background-size: cover;
      cursor: pointer;
    }
  }

  .homeBtn {
    @include noBgBtn;
    margin: 0 10px;
  }

  .logoutBtn {
    display: block;
    float: right !important;
    @include noBgBtn;
  }
}

.burger_menu {
  display: none;
}

.rightGroup {
  padding-top: 8px;
}

.sidebarToggler {
  @include noBgBtn;
  cursor: pointer;
}

.selected {
  color: #08C1C6 !important;
}

@media screen and (min-width: 1059px) {
  .positioned_sidebar_wrapper {
    display: none;

    &.show {
      display: none;
    }
  }
}

@media screen and (max-width: 1060px) {

  .logo {
    z-index: 9999;
  }
  .menuItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    span {
      cursor: pointer;
      padding-left: 15px;
    }
  }

  .mainSections {
    display: none !important;
  }

  .burger_menu {
    display: block;

    i {
      color: white;
      padding-left: 50px;
    }
  }
  .rightGroup {
    display: flex;
    align-items: center;

    .burger_menu {
      display: flex;
    }
  }
}



