@import '../../../variables';
@import '../../../mixins';

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 200;
  //background-color: rgba(1, 1, 1, 0.49);
  background-color: #164547; //#062845;
  //background-color: rgba(6,40,69,0.75);
  //background-color: transparent;
  display: flex;
  justify-content: space-between;
  //text-transform: uppercase;
  margin-bottom: 20px;
  height: 100px;
  overflow: hidden;

  .mainSections {
    position: absolute;
    top: 28px;
    display: inline-flex;
    left: 114px;
    /* right: 0; */
    margin: auto;
    /* background-color: rgba(1, 1, 1, 0.09); */
    justify-content: center;
    max-width: 750px;

    p {
      margin: 10px 25px;
      color: $white;
      cursor: pointer;

      mat-icon {
        //margin-top: 2px;
        display: block;
        float: left;
      }

      span {
        margin-left: 5px;
        //cursor: pointer;
      }
    }
  }

  div {
    span.link {
      color: $white;
      cursor: pointer;
      margin: 0 40px;
    }
  }

  .leftGroup {
    display: flex;
    align-items: center;


    .logo {
      background-image: url("../../../assets/images/logo.png");
      width: 89px;
      height: 91px;
      background-size: cover;
      cursor: pointer;
    }
  }

  .homeBtn {
    @include noBgBtn;
    margin: 0 10px;
  }

  .logoutBtn {
    display: block;
    float: right !important;
    @include noBgBtn;
  }
}

.burger_menu {
  display: none;
}

.rightGroup {
  padding-top: 8px;
}

.dashboard {
  //background-color: #71a8b1 !important;
}

.sidebarToggler {
  @include noBgBtn;
  cursor: pointer;
}

@media screen and (min-width: 1059px) {
  .positioned_sidebar_wrapper {
    display: none;

    &.show {
      display: none;
    }


  }
  .sidebarToggler {
    //display: none;
  }
}

@media screen and (max-width: 1060px) {

  .logo {
    z-index: 9999;
  }
  .menuItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    span {
      cursor: pointer;
      padding-left: 15px;
    }
  }

  .mainSections {
    display: none !important;
  }

  .burger_menu {
    display: block;

    i {
      color: white;
      padding-left: 50px;
    }
  }
  .rightGroup {
    display: flex;
    align-items: center;

    .burger_menu {
      display: flex;
    }
  }
}


.selected {
  color: #08C1C6;
}
