.manage-all-container {
  display: flex;
  padding-left: 50px;

  .left-section {
    width: 20%;

    .import-section {

      .import-variants {
        margin-top: 20px;
      }
    }

    .map-actions-section {
      margin-top: 30px;

      .map-actions {
        width: 35%;
        margin-top: 20px;
      }
    }

    .export-to-json-section {
      margin-top: 50px;

      .export-to-json {
        margin-top: 20px;
      }
    }
  }

  .right-section {
    width: 70%;
    margin-left: 50px;
  }
}
