.manage-all-container {
  display: flex;
  margin: 24px;

  .left-section {
    flex: 0.4;
    padding-top: 30px;

    .import-section {

      .import-variants {
        margin-top: 20px;
      }
    }

    .map-actions-section {
      margin-top: 30px;

      .map-actions {
        width: 35%;
        margin-top: 20px;
      }
    }

    .export-to-json-section {
      margin-top: 50px;

      .export-to-json {
        margin-top: 20px;
      }
    }
  }

  .right-section {
    flex: 1;
    margin-left: 24px;
  }
}
