<div class="manage-all-container">

  <!-- LEFT SIDE SECTION -->
  <div class="left-section">

    <!-- IMPORT ROUTES AND/OR PRICES FROM A FILE-->
    <div class="import-section">
      <strong>What do you want to import?</strong>
      <div class="import-variants">
        <mat-radio-button [checked]="importMethod === 'xls'" (change)="changeImportMethod('xls')">Import prices only
          from a
          *xls file
        </mat-radio-button>
        <mat-radio-button [checked]="importMethod === 'json'" (change)="changeImportMethod('json')">Import prices and
          routes
          from a *json file
        </mat-radio-button>
      </div>
    </div>

    <!-- MAP ACTIONS SECTION -->
    <div class="map-actions-section">
      <strong>What do you want to do on map?</strong>
      <div class="map-actions">
        <mat-radio-button [checked]="mapAction === 'addRoute'" (change)="changeMapAction('addRoute')">
          View/edit/add routes coordinates
        </mat-radio-button>
        <!--        <mat-radio-button [checked]="mapAction === 'editRoute'" (change)="changeMapAction('editRoute')">-->
        <!--          Edit routes-->
        <!--        </mat-radio-button>-->
      </div>
    </div>

    <div class="map-actions-section">
      <strong>What do you want to do on routes/prices table?</strong>
      <div class="map-actions">
        <mat-radio-button [checked]="viewSummary" (change)="viewRoutesPricesTable()">
          View/edit routes and prices
        </mat-radio-button>
      </div>
    </div>

    <!-- EXPORT TO FILE SECTION -->
    <div class="export-to-json-section">
      <strong>Export routes and prices to json file</strong>
      <div class="export-to-json">
        <a mat-raised-button (click)="exportDataToJson()" [href]="downloadJsonHref" download="download.json">
          Export
          <mat-icon>get_app</mat-icon>
        </a>
      </div>
    </div>
  </div>

  <!-- RIGHT SIDE SECTION -->
  <div class="right-section">
    <app-import-from-file [importMethod]="importMethod" *ngIf="importMethod"></app-import-from-file>
    <app-map-controls *ngIf="mapAction" [drawingEnabled]="true"></app-map-controls>
    <app-routes-prices-table *ngIf="viewSummary"></app-routes-prices-table>
  </div>
</div>
