@import "variables";

.route-name {
  strong {
    margin-left: 10px;
    color: $red;
  }
}

form {
  .form-fields-container {
    display: flex;
    justify-content: space-between;

    .left-side {
      width: 50%;

      .total-price {
        strong {
          color: $green;
        }
      }
    }

    .right-side {
      width: 40%;
    }

    .route-info {
      //text-align: center;
    }
  }
}
