@import 'variables';
@import 'mixins';

#save-tour-form {
  .reset-cover-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .reset-cover {
      background-color: $red;
      color: $white;
      border-radius: 0;
      box-shadow: initial;
      padding: 4px 16px;
      font-size: 14px;
      font-weight: bold;
      border: none;
      display: flex;
      align-items: center;

      mat-icon {
        font-size: 16px;
        margin-top: 5px;
      }
    }
  }
}


form {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  float: left;

  .formTitle {
    margin: 0;
  }


  .addressContainer {
    display: flex;

    .mat-form-field {
      width: 100%;
    }

    .resetAddress {
      @include noBgBtn;
      color: $red;
      margin-top: 20px;
    }

  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;

    .saveBtn {
      float: left;
      background: #7bc447;
      border-radius: 0;
      box-shadow: initial;
      padding: 4px 16px;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .mat-spinner {
    float: right;
  }

  .input-wrap {
    margin-top: 24px;

    .input {
      margin-bottom: 16px;

      input {
        width: 100%;
        background: #f9f9f9;
        padding: 12px 23px;
        font-size: 16px;
        color: #707070;
        border: 0.5px solid transparent;

        &:focus {
          border: 0.5px solid #7BC447;
        }
      }
    }

    .select {
      padding-right: 12px;
      margin-bottom: 16px;

      select {
        width: 100%;
        padding: 12px 16px;
        background: #f9f9f9;
        font-size: 16px;
        color: #707070;
        border: 0.5px solid transparent;

        &:focus {
          border: 0.5px solid #7BC447;
        }
      }
    }

    .row {
      margin: 0;

      &.input-icons {
        .input {
          padding-left: 16px;
        }

        input {
          width: calc(100% + 16px);
          margin-left: -16px;
          padding-left: 48px;
        }
      }

      &.time-icons {
        .input {
          padding-left: 12px;
        }

        input {
          width: calc(100% + 12px);
          margin-left: -12px;
          padding-left: 48px;
        }
      }

      .checkInIcon, .checkOutIcon, .dateIcon {
        left: 16px !important;
      }

      .input {
        flex: 1;
        margin-right: 16px;
        position: relative;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

}

.dropzoneContainer {
  min-width: 420px;
  width: 25%;
  float: right;
  margin-top: 39px;
  padding: 30px;
  display: flex;
  justify-content: center;
  height: 452px;
  position: relative;

  .removeSavedImg {
    @include noBgBtn;
    position: absolute;
    top: 50%;
    left: 45%;
  }

  ngx-dropzone {
    align-self: center;
    width: 100%;
  }
}

.saved-img {
  width: 400px;
}

.notFound {
  text-align: center;
  display: block;
  padding: 20px;
}

.formContainer {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.location-selector {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  .select {
    width: 100%;
    margin-bottom: 0 !important;
  }

  mat-hint {
    display: block;
    text-align: right;
    font-size: 12px;
  }


}

#add-location-btn {
  clear: both;
  margin: 16px 0;

  .add-location {
    width: 100%;
    height: 51px;
    background: #084F93 0 0 no-repeat padding-box;
    box-shadow: 0 0 6px #00000029;
    color: white;
    border: none;
    font: normal normal bold 15px Roboto;
  }
}

@media screen and (max-width: 1360px) {
  .saveTourForm {
    max-width: 370px;
    width: 100%;
    padding: 20px;
    float: left;
    margin-left: 230px;
  }
  .dropzoneContainer {
    min-width: 390px;
  }

}

.remove-location-icon {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .dropzoneContainer {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .saveTourForm {
    max-width: 550px;
    float: none;
    margin: auto;
  }
}


