<app-dashboard></app-dashboard>
<!--<div class="underConstruction">-->
<!--  <mat-icon>directions</mat-icon>-->
<!--  <span>Under construction</span>-->
<!--</div>-->
<div class="mainContent ">
  <form action="" method="post" #adminLog=ngForm (autocomplete)="off" autocomplete="off">
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" [formControl]="nameFormControl"
               [errorStateMatcher]="matcher" name="firstName"   [(ngModel)]="foodDrink.name">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="nameFormControl.hasError('required')">
          First name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Latitude" [formControl]="latFormControl"
               [errorStateMatcher]="matcher" name="firstName"   [(ngModel)]="foodDrink.lat">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="latFormControl.hasError('required')">
          Lattitude is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Latitude" [formControl]="lngFormControl"
               [errorStateMatcher]="matcher" name="firstName"   [(ngModel)]="foodDrink.lng">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="lngFormControl.hasError('required')">
          Longitude is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="example-full-width">
        <textarea   matInput placeholder="Description" name="desc" [formControl]="descFormControl" [(ngModel)]="foodDrink.desc"></textarea>
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="descFormControl.hasError('required')">
          Partner description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="example-full-width">
        <textarea   matInput placeholder="Address" #addSearch name="address" [(ngModel)]="foodDrink.address"></textarea>

      </mat-form-field>
    </div>
    <div class="form-group">
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Partner" name="tours_type_id" [formControl]="partnersTypeControl" required [(ngModel)]="foodDrink.partner_id">
        <mat-option>Please choose</mat-option>
        <mat-option *ngFor="let single of partnersTypeName" [value]="single.id">
          {{single.first_name+' '+ single.last_name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="partnersTypeControl.hasError('required')">Please choose an partners</mat-error>
    </mat-form-field>
  </div>
    <div class="form-group example-full-width">
      <button onclick="document.getElementById('fileToUpload').click()" mat-raised-button color="primary">Upload File</button>
      <input id="fileToUpload" type="file" name="img" style="display:none;" (change)="handleFileInput($event.target.files)">
    </div>
    <button [disabled]="nameFormControl.hasError('required') || partnersTypeControl.hasError('required') || latFormControl.hasError('required') || lngFormControl.hasError('required') || descFormControl.hasError('required')" (click)="saveFoodDrink(foodDrink)" mat-raised-button color="primary">Save Food/Drink</button>
  </form>

</div>
