@import '../../../../variables';
@import '../../../../mixins';


.saveFerryForm{
  width:40%;
  padding:20px;
  float: left;
  .addressContainer {
    display: flex;
    .mat-form-field {
      width: 100%;
    }
    .resetAddress {
      @include noBgBtn;
      color: $red;
      margin-top:20px;
    }

  }
  .actions{
    margin-top:40px;
  }
}

.notFound{
  text-align: center;
  display: block;
  padding: 20px;
}

@media screen and (max-width: 768px){
  .saveFerryForm{
    width: 90%;
  }
}
