<app-dashboard></app-dashboard>
<mat-spinner *ngIf="common.dataLoading" [diameter]="spinnerDiameter"></mat-spinner>
<form [formGroup]="editFerryForm" class="saveFerryForm"
      *ngIf="!common.dataLoading && partners.length > 0 && partnerTypes.length > 0">

    <h4 class="formTitle">
        <ng-container *ngIf="!editCase">
            <i class="fa fa-plus title-sign"></i>
            <span>Add a new ferry</span>
        </ng-container>
    </h4>


    <!-- Ferry name field-->
    <mat-form-field>
        <input matInput formControlName="name" placeholder="Name" required>
        <mat-error *ngIf="nameCtrl.hasError('required')">
            Ferry name is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <!-- E-mail field-->
    <mat-form-field *ngIf="!editCase">
        <input matInput formControlName="email" placeholder="E-mail" required>
        <mat-error [hidden]="!emailCtrl.hasError('required')"> E-mail is <strong>required</strong></mat-error>
        <mat-error [hidden]="!emailCtrl.hasError('patternInvalid')"> E-mail is <strong>invalid</strong></mat-error>
    </mat-form-field>

    <!-- Max people for ferry field -->
    <mat-form-field>
        <input matInput formControlName="max_people" type="number" placeholder="Max people" required>
        <mat-error *ngIf="maxCtrl.hasError('required')">
            Maximum people count is <strong>required</strong>
        </mat-error>
        <mat-error [hidden]="!maxCtrl.hasError('pattern')"> Maximum people is <strong>invalid</strong></mat-error>
    </mat-form-field>

    <!-- Min people for ferry field -->
    <mat-form-field>
        <input matInput formControlName="min_people" type="number" placeholder="Min people" required>
        <mat-error *ngIf="minCtrl.hasError('required')">
            Minimum people count <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <!-- Ferry latitude field -->
    <mat-form-field>
        <input matInput formControlName="lat" placeholder="Latitude" required>
        <mat-error *ngIf="latCtrl.hasError('required')">
            Latitude is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="latCtrl.hasError('patternInvalid')">
            Latitude is <strong>invalid</strong>
        </mat-error>
    </mat-form-field>

    <!-- Ferry longitude field -->
    <mat-form-field>
        <input matInput formControlName="lng" placeholder="Longitude" required>
        <mat-error *ngIf="lngCtrl.hasError('required')">
            Longitude is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="lngCtrl.hasError('patternInvalid')">
            Longitude is <strong>invalid</strong>
        </mat-error>
    </mat-form-field>


    <!-- Phone number field -->
    <mat-label>Phone*</mat-label>
    <international-phone-number placeholder="Phone number" formControlName="phone" [maxlength]="20"
                                [defaultCountry]="defaultCountry" [required]="true" (change)="changed($event)"
                                [allowedCountries]="allowedCountries"></international-phone-number>

    <ng-container *ngIf="!phoneCtrl.pristine">
        <mat-error *ngIf="phoneCtrl.hasError('required')">
            Phone number is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="phoneCtrl.hasError('patternInvalid')">
            Phone number is <strong>invalid</strong>
        </mat-error>
    </ng-container>

    <!-- Address field -->
    <div class="addressContainer">
        <mat-form-field>
            <!--            <input matInput formControlName="address" placeholder="Address" #searchAddress required>-->
            <input matInput class="ngx" ngx-google-places-autocomplete placeholder="Address"
                   formControlName="address" [options]='options' #searchAddress="ngx-places" required/>
            <!--            <mat-hint align="end">If locations autocomplete doesn't appear, please click on reload icon below</mat-hint>-->
            <mat-error *ngIf="addressCtrl.hasError('required')">
                Tour address is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <button (click)="resetAddress()" class="resetAddress">
            <mat-icon>replay</mat-icon>
        </button>
    </div>

    <!-- Partner type field-->
    <!--    <mat-form-field>-->
    <!--        <mat-select formControlName="type" placeholder="Partner type" required>-->
    <!--            <mat-option>Please choose</mat-option>-->
    <!--            <mat-option *ngFor="let p of partnerTypes" [value]="p['id']">-->
    <!--                {{p['name']}}-->
    <!--            </mat-option>-->
    <!--        </mat-select>-->
    <!--        <mat-error *ngIf="editFerryForm.get('type').hasError('required')">-->
    <!--            Partner type is <strong>required</strong>-->
    <!--        </mat-error>-->
    <!--    </mat-form-field>-->


    <!-- Partner field-->
    <mat-form-field>
        <mat-select formControlName="partner_id" placeholder="Partner" required>
            <mat-option>Please choose</mat-option>
            <mat-option *ngFor="let p of partners" [value]="p['id']">
                {{p['first_name'] + ' ' + p['last_name']}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="editFerryForm.get('partner_id').hasError('required')">
            Partner is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-spinner *ngIf="common.formProcessing" [diameter]="spinnerDiameter"></mat-spinner>

    <!-- Action buttons -->
    <div class="actions">

        <button type="button" class="backBtn" (click)="router.navigate([redirectUrl])">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-raised-button color="primary" (click)="saveFerry(searchAddress)">
            Save
        </button>
    </div>
</form>


<small class="notFound" *ngIf="partners.length===0 && !common.dataLoading">
   <i class="info info-circle"></i>
    No partners found. Please add at least one
    accommodation partner first.
</small>
<small class="notFound" *ngIf="partnerTypes.length===0&& !common.dataLoading">Partner types aren't loaded. Please try
    again
</small>
<small *ngIf="!ferryData && !common.dataLoading && editCase" class="notFound">The selected ferry is not found</small>