<form [formGroup]="activitiesForm">
  <div id="location">
    <mat-icon class="location">place</mat-icon>
    <input placeholder="Location" formControlName="location"
           [formControl]="locationControl"
           [matAutocomplete]="auto">
    <mat-icon class="remove" (click)="clearLocation()">cancel</mat-icon>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                      (optionSelected)="locationChanged($event.option.value)">
      <mat-option *ngFor="let loc of filteredLocations | async" [value]="loc.address">
        {{loc.address}}
      </mat-option>
    </mat-autocomplete>

    <!--    <select id="activities-providers">-->
    <!--      <option>Location</option>-->
    <!--    </select>-->
  </div>
  <div>
    <select id="activities-types" (change)="typeChanged($event)">
      <option>Activity types</option>
      <option *ngFor="let type of activityTypes" [value]="type.id">{{type.name}}</option>
    </select>
  </div>
  <div>
    <select id="activities-subtypes">
      <option>Activities subtypes</option>
      <option *ngFor="let type of activitySubTypes" [value]="type.id">{{type.name}}</option>
    </select>
  </div>

  <div id="pickers">
    <div id="date">


      <input placeholder="Date" (dateChange)="dateChanged($event)"
             [matDatepickerFilter]="previousDatesFilter"
             [matDatepicker]="checkInPicker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="checkInPicker"
                             class="datepicker-toggle-icon"></mat-datepicker-toggle>
      <mat-datepicker #checkInPicker startView="year"
      ></mat-datepicker>
      <span class="main-page-error" *ngIf="isSubmitted && activitiesForm.get('date').hasError('required')">
                  Booking date is required</span>
    </div>
    <div id="adults">
      <mat-icon>person</mat-icon>
      <span>Adults</span>
      <input type="hidden" formControlName="adults" class="hidden">
      <div class="picker">
        <ng-number-picker [(value)]="adultsCount" [size]="'small'" class="guests-count"
                          [buttonsOrientation]="'v'" [placeholder]="'Guests'"
                          (valueChange)="adultsCountChanged($event)"></ng-number-picker>
      </div>
    </div>
    <div id="children">
      <mat-icon>person</mat-icon>
      <span>Children</span>
      <input type="hidden" formControlName="children" class="hidden">
      <div class="picker">
        <ng-number-picker [(value)]="childrenCount" [size]="'small'" class="guests-count"
                          [buttonsOrientation]="'v'" [placeholder]="'Guests'"
                          (valueChange)="childrenCountChanged($event)"></ng-number-picker>
      </div>
    </div>
  </div>
  <div>
    <button class="search-btn" (click)="search()" type="button">
      <i class="fa fa-search"></i>
      <span>Search</span>
    </button>
  </div>
</form>
