<form [formGroup]="activitiesForm">
  <div id="location">
    <mat-icon>place</mat-icon>
    <input placeholder="Location">
    <!--    <select id="activities-providers">-->
    <!--      <option>Location</option>-->
    <!--    </select>-->
  </div>
  <div>
    <select id="activities-types">
      <option>Activity types</option>
    </select>
  </div>
  <div>
    <select id="activities-subtypes">
      <option>Activities subtypes</option>
    </select>
  </div>

  <div id="pickers">
    <div id="date">


      <input placeholder="Date" (dateChange)="dateChanged($event)"
             [matDatepickerFilter]="previousDatesFilter"
             [matDatepicker]="checkInPicker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="checkInPicker"
                             class="datepicker-toggle-icon"></mat-datepicker-toggle>
      <mat-datepicker #checkInPicker startView="year"
      ></mat-datepicker>
      <span class="main-page-error" *ngIf="isSubmitted && activitiesForm.get('date').hasError('required')">
                  Booking date is required</span>
    </div>
    <div id="adults">
      <mat-icon>person</mat-icon>
      <span>Adults</span>
      <input type="hidden" formControlName="adults" class="hidden">
      <div class="picker">
        <ng-number-picker [(value)]="adultsCount" [size]="'small'" class="guests-count"
                          [buttonsOrientation]="'v'" [placeholder]="'Guests'"
                          (valueChange)="adultsCountChanged($event)"></ng-number-picker>
      </div>
    </div>
    <div id="children">
      <mat-icon>person</mat-icon>
      <span>Children</span>
      <input type="hidden" formControlName="children" class="hidden">
      <div class="picker">
        <ng-number-picker [(value)]="childrenCount" [size]="'small'" class="guests-count"
                          [buttonsOrientation]="'v'" [placeholder]="'Guests'"
                          (valueChange)="childrenCountChanged($event)"></ng-number-picker>
      </div>
    </div>
  </div>
  <div>
    <button class="search-btn" (click)="search()" type="button">
      <i class="fa fa-search"></i>
      <span>Search</span>
    </button>
  </div>
</form>
